/* -------------------------------------------------------------------------- */
/*                          Button custom properties                          */
/* -------------------------------------------------------------------------- */

:host {
  /**
   * @prop --bq-button--border-color - Button border color
   * @prop --bq-button--border-radius - Button border radius
   * @prop --bq-button--border-style - Button border style
   * @prop --bq-button--border-width - Button border width
   * @prop --bq-button--small-paddingX - Button small padding block (top and bottom)
   * @prop --bq-button--small-paddingY - Button small padding inline (left and right)
   * @prop --bq-button--small-font-size - Button small font size
   * @prop --bq-button--medium-paddingX - Button medium padding block (top and bottom)
   * @prop --bq-button--medium-paddingY - Button medium padding inline (left and right)
   * @prop --bq-button--medium-font-size - Button medium font size
   * @prop --bq-button--large-paddingX - Button large padding block (top and bottom)
   * @prop --bq-button--large-paddingY - Button large padding inline (left and right)
   * @prop --bq-button--large-font-size - Button large font size
   */
  --bq-button--border-color: transparent;
  --bq-button--border-radius: var(--bq-radius--m);
  --bq-button--border-style: solid;
  --bq-button--border-width: var(--bq-stroke-m);

  --bq-button--small-paddingX: var(--bq-spacing-xs);
  --bq-button--small-paddingY: calc(var(--bq-spacing-xs2) - var(--bq-button--border-width));
  --bq-button--small-font-size: var(--bq-font-size--m);

  --bq-button--medium-paddingX: var(--bq-spacing-m);
  --bq-button--medium-paddingY: calc(var(--bq-spacing-s) - var(--bq-button--border-width));
  --bq-button--medium-font-size: var(--bq-font-size--m);

  --bq-button--large-paddingX: var(--bq-spacing-l);
  --bq-button--large-paddingY: calc(var(--bq-spacing-m) - var(--bq-button--border-width));
  --bq-button--large-font-size: var(--bq-font-size--m);
}
