/* -------------------------------------------------------------------------- */
/*                          Button custom properties                          */
/* -------------------------------------------------------------------------- */

:host {
  /**
   * @prop --bq-button--border-color - Button border color
   * @prop --bq-button--border-radius - Button border radius
   * @prop --bq-button--border-style - Button border style
   * @prop --bq-button--border-width - Button border width
   * @prop --bq-button--small-paddingX - Button small padding block (top and bottom)
   * @prop --bq-button--small-paddingY - Button small padding inline (left and right)
   * @prop --bq-button--small-font-size - Button small font size
   * @prop --bq-button--medium-paddingX - Button medium padding block (top and bottom)
   * @prop --bq-button--medium-paddingY - Button medium padding inline (left and right)
   * @prop --bq-button--medium-font-size - Button medium font size
   * @prop --bq-button--large-paddingX - Button large padding block (top and bottom)
   * @prop --bq-button--large-paddingY - Button large padding inline (left and right)
   * @prop --bq-button--large-font-size - Button large font size
   */
  --bq-button--border-color: theme(borderColor.transparent);
  --bq-button--border-radius: theme(borderRadius.m);
  --bq-button--border-style: solid;
  --bq-button--border-width: theme(borderWidth.0);

  --bq-button--small-paddingX: theme(spacing.xs);
  --bq-button--small-paddingY: theme(spacing.xs2);
  --bq-button--small-font-size: theme(fontSize.m);

  --bq-button--medium-paddingX: theme(spacing.m);
  --bq-button--medium-paddingY: theme(spacing.s);
  --bq-button--medium-font-size: theme(fontSize.m);

  --bq-button--large-paddingX: theme(spacing.l);
  --bq-button--large-paddingY: theme(spacing.m);
  --bq-button--large-font-size: theme(fontSize.m);
}
