/* -------------------------------------------------------------------------- */
/*                                Button styles                               */
/* -------------------------------------------------------------------------- */

@layer bq.reset, bq.tokens, bq.themes, bq.base, bq.public, bq.overrides,
  bq-button.tokens, bq-button.base, bq-button.structure, bq-button.variants, bq-button.states, bq-button.parts;

@layer bq-button.tokens {
  @import './bq-button.variables';
}

/* ---------------------------------- Host ---------------------------------- */

@layer bq-button.base {
  :host {
    --_button-background-color: transparent;
    --_button-border-color: var(--bq-button--border-color);
    --_button-color: var(--bq-text--primary);
    --_button-hover-background-color: transparent;
    --_button-active-background-color: transparent;

    position: relative;
    display: inline-block;
    inline-size: auto;
    border-radius: var(--bq-button--border-radius);
  }

  :host([block]) {
    inline-size: 100%;
  }
}

/* ---------------------------------- Base ---------------------------------- */

@layer bq-button.base {
  .bq-button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--_button-color);
    font-weight: var(--bq-font-weight--medium);
    line-height: var(--bq-font-line-height--regular);
    user-select: none;
    background-color: var(--_button-background-color);
    border-color: var(--_button-border-color);
    border-radius: var(--bq-button--border-radius);
    border-style: var(--bq-button--border-style);
    border-width: var(--bq-button--border-width);
    cursor: inherit;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
    transition-property: background-color, border-color, color;
  }
}

/* ------------------------------- Structure -------------------------------- */

@layer bq-button.structure {
  .bq-button.block {
    inline-size: 100%;
  }

  .content-left {
    justify-content: flex-start;
  }

  .content-right {
    justify-content: flex-end;
  }

  .bq-button__prefix,
  .bq-button__suffix {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    pointer-events: none;
  }

  .bq-button.has-prefix .bq-button__label {
    padding-inline-start: var(--bq-spacing-xs2);
  }

  .bq-button.has-suffix .bq-button__label {
    padding-inline-end: var(--bq-spacing-xs2);
  }
}

/* -------------------------------- Variants -------------------------------- */

@layer bq-button.variants {
  .bq-button--primary {
    --_button-background-color: var(--bq-ui--brand);
    --_button-color: var(--bq-text--alt);
    --_button-hover-background-color: var(--bq-ui--brand);
    --_button-active-background-color: var(--bq-ui--brand);
  }

  .bq-button--primary.ghost {
    --_button-background-color: transparent;
    --_button-border-color: var(--bq-stroke--brand);
    --_button-color: var(--bq-text--brand);
    --_button-hover-background-color: var(--bq-ui--primary);
    --_button-active-background-color: var(--bq-ui--primary);
  }

  .bq-button--primary.danger {
    --_button-background-color: var(--bq-ui--danger);
    --_button-color: var(--bq-text--alt);
    --_button-hover-background-color: var(--bq-ui--danger);
    --_button-active-background-color: var(--bq-ui--danger);
  }

  .bq-button--secondary {
    --_button-background-color: var(--bq-ui--secondary);
    --_button-color: var(--bq-text--primary);
    --_button-hover-background-color: var(--bq-ui--secondary);
    --_button-active-background-color: var(--bq-ui--secondary);
  }

  .bq-button--secondary.ghost {
    --_button-background-color: transparent;
    --_button-border-color: var(--bq-stroke--tertiary);
    --_button-hover-background-color: var(--bq-ui--secondary);
    --_button-active-background-color: var(--bq-ui--secondary);
  }

  .bq-button--link {
    --_button-background-color: transparent;
    --_button-color: var(--bq-text--brand);
    --_button-hover-background-color: var(--bq-ui--primary);
    --_button-active-background-color: var(--bq-ui--secondary);

    cursor: pointer;
    text-decoration-line: none;
  }

  .bq-button--text {
    --_button-background-color: transparent;
    --_button-color: var(--bq-text--primary);
    --_button-hover-background-color: var(--bq-ui--primary);
    --_button-active-background-color: var(--bq-ui--secondary);
  }

  .only-icon {
    aspect-ratio: 1;
  }

  .small {
    padding-block: var(--bq-button--small-paddingY);
    padding-inline: var(--bq-button--small-paddingX);
    font-size: var(--bq-button--small-font-size);
  }

  .small.only-icon {
    padding-block: var(--bq-button--small-paddingY);
    padding-inline: var(--bq-button--small-paddingY);
  }

  .medium {
    padding-block: var(--bq-button--medium-paddingY);
    padding-inline: var(--bq-button--medium-paddingX);
    font-size: var(--bq-button--medium-font-size);
  }

  .medium.only-icon {
    padding-block: var(--bq-button--medium-paddingY);
    padding-inline: var(--bq-button--medium-paddingY);
  }

  .large {
    padding-block: var(--bq-button--large-paddingY);
    padding-inline: var(--bq-button--large-paddingX);
    font-size: var(--bq-button--large-font-size);
  }

  .large.only-icon {
    padding-block: var(--bq-button--large-paddingY);
    padding-inline: var(--bq-button--large-paddingY);
  }
}

/* --------------------------------- States --------------------------------- */

@layer bq-button.states {
  .bq-button:focus-visible {
    @include bq-focus-ring;
  }

  .bq-button:not(:disabled, .disabled):hover {
    @include bq-color-mix(background-color, var(--_button-hover-background-color), hover);
  }

  .bq-button:not(:disabled, .disabled):active {
    @include bq-color-mix(background-color, var(--_button-active-background-color), active);
  }

  .bq-button:disabled,
  .bq-button.disabled {
    cursor: not-allowed;
    opacity: var(--bq-disabled-opacity, 0.6);
  }

  .bq-button.loading {
    position: relative;
    cursor: wait;
  }

  .bq-button.loading .bq-button__prefix,
  .bq-button.loading .bq-button__label,
  .bq-button.loading .bq-button__suffix {
    visibility: hidden;
  }
}

/* ---------------------------------- Parts --------------------------------- */

@layer bq-button.parts {
  .bq-button ::slotted(bq-icon) {
    --bq-icon--color: var(--bq-button--icon-color, currentColor);
  }

  .bq-button:hover:not(:disabled, .disabled) ::slotted(bq-icon) {
    --bq-icon--color: var(--bq-button-hover--icon-color, var(--bq-button--icon-color, currentColor));
  }

  .bq-button__label ::slotted(bq-icon) {
    display: flex;
  }

  .bq-button__loader {
    position: absolute;

    @include animation-spin;
  }
}
