/* -------------------------------------------------------------------------- */
/*                                Step item styles                */
/* -------------------------------------------------------------------------- */

@import './bq-step-item.variables';

:host {
  --bq-icon--color: theme('colors.icon.primary');
  @apply bg-bg-primary;
}

.bq-step-item__prefix {
  ::slotted(bq-icon) {
    --bq-icon--color: var(--bq-step-item--prefix-color);
  }

  &.current {
    ::slotted(bq-icon) {
      --bq-icon--color: var(--bq-step-item--prefix-color-current);
    }
  }

  &.completed {
    ::slotted(bq-icon) {
      --bq-icon--color: var(--bq-step-item--prefix-color-completed);
    }
  }

  &.error {
    ::slotted(bq-icon) {
      --bq-icon--color: var(--bq-step-item--prefix-color-error);
    }
  }

  &.disabled {
    ::slotted(bq-icon) {
      --bq-icon--color: var(--bq-step-item--prefix-color-disabled);
    }
  }
}

.bq-step-item__content--description::slotted(*) {
  @apply text-s leading-regular text-text-primary-disabled;
}
