/* -------------------------------------------------------------------------- */
/*                                Step item styles                */
/* -------------------------------------------------------------------------- */

@import './bq-step-item.variables';

:host {
  --bq-icon--color: theme('colors.icon.primary');

  @apply bg-bg-primary;
}

.bq-step-item__prefix.dot,
.bq-step-item__prefix.icon {
  ::slotted(bq-icon) {
    --bq-icon--color: var(--bq-step-item--prefix-color);
  }

  &.current {
    ::slotted(bq-icon) {
      --bq-icon--color: var(--bq-step-item--prefix-color-current);
    }
  }

  &.completed {
    ::slotted(bq-icon) {
      --bq-icon--color: var(--bq-step-item--prefix-color-completed);
    }
  }

  &.error {
    ::slotted(bq-icon) {
      --bq-icon--color: var(--bq-step-item--prefix-color-error);
    }
  }

  &.disabled {
    ::slotted(bq-icon) {
      --bq-icon--color: var(--bq-step-item--prefix-color-disabled);
    }
  }
}

.bq-step-item__prefix.numeric {
  @apply flex items-center justify-center rounded-full;
  @apply h-[--bq-step-item--prefix-num-size] w-[--bq-step-item--prefix-num-size] bg-[--bq-step-item--prefix-num-bg-color];
  @apply text-m font-semibold leading-regular;

  &.small {
    @apply text-s [--bq-step-item--prefix-num-size:--bq-spacing-l];
  }

  // Status

  &.current {
    @apply bg-[var(--bq-step-item--prefix-color-current)] text-[--bq-text--alt];
  }

  &.completed {
    @apply bg-ui-success-alt text-text-success;
  }

  &.error {
    @apply bg-ui-danger-alt text-text-danger;
  }

  &.disabled {
    @apply bg-ui-secondary-disabled text-text-primary-disabled;
  }
}

.bq-step-item__content--description::slotted(*) {
  @apply text-s leading-regular text-text-primary-disabled;
}
