/* -------------------------------------------------------------------------- */
/*                         Step item custom properties                        */
/* -------------------------------------------------------------------------- */

:host {
  /**
   * @prop --bq-step-item--prefix-color - Color of the prefix icon
   * @prop --bq-step-item--prefix-color-current - Color of the prefix icon when current
   * @prop --bq-step-item--prefix-color-completed - Color of the prefix icon when completed
   * @prop --bq-step-item--prefix-color-error - Color of the prefix icon when error
   * @prop --bq-step-item--prefix-num-size - Size of the prefix number
   * @prop --bq-step-item--prefix-num-bg-color - Background color of the prefix number
   */
  --bq-step-item--prefix-color: theme(stroke.icon.secondary);
  --bq-step-item--prefix-color-current: theme(stroke.icon.brand);
  --bq-step-item--prefix-color-completed: theme(stroke.icon.success);
  --bq-step-item--prefix-color-error: theme(stroke.icon.danger);

  --bq-step-item--prefix-num-size: theme(spacing.xl);
  --bq-step-item--prefix-num-bg-color: theme(backgroundColor.ui.secondary);
}
