/* -------------------------------------------------------------------------- */
/*                                Badge styles                               */
/* -------------------------------------------------------------------------- */

@import './bq-badge.variables';

:host {
  display: inline-block;
}

.bq-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bq-badge--text-color);
  background-color: var(--bq-badge--background-color);
  border-color: var(--bq-badge--border-color);
  border-radius: var(--bq-badge--border-radius);
  border-style: var(--bq-badge--border-style);
  border-width: var(--bq-badge--border-width);
  box-shadow: var(--bq-badge--box-shadow);
}

.size--small {
  block-size: var(--bq-badge--size-small);
  inline-size: var(--bq-badge--size-small);
}

.size--medium {
  block-size: var(--bq-badge--size-medium);
  inline-size: var(--bq-badge--size-medium);
}

.digit {
  min-block-size: var(--bq-badge--size-large);
  min-inline-size: var(--bq-badge--size-large);
}

.digit.is-multiple {
  padding-inline: var(--bq-spacing-xs2);
}

.bq-badge__number {
  font-weight: var(--bq-font-weight--bold);
  font-size: var(--bq-font-size--xs);
  line-height: var(--bq-font-line-height--small);
}
