/* -------------------------------------------------------------------------- */
/*                          Badge custom properties                          */
/* -------------------------------------------------------------------------- */

:host {
  /**
   * @prop --bq-badge--background-color: Badge background color
   * @prop --bq-badge--box-shadow: Badge box shadow
   * @prop --bq-badge--border-color: Badge border color
   * @prop --bq-badge--border-radius: Badge border radius
   * @prop --bq-badge--border-style: Badge border style
   * @prop --bq-badge--border-width: Badge border width
   * @prop --bq-badge--size-small: Badge small size
   * @prop --bq-badge--size-medium: Badge medium size
   * @prop --bq-badge--size-large: Badge large size
   * @prop --bq-badge--text-color: Badge text color
   */
  --bq-badge--background-color: theme(backgroundColor.ui.danger);
  --bq-badge--box-shadow: none;

  --bq-badge--border-color: theme(stroke.tertiary);
  --bq-badge--border-radius: theme(borderRadius.full);
  --bq-badge--border-style: none;
  --bq-badge--border-width: theme(borderWidth.0);

  --bq-badge--size-small: 8px;
  --bq-badge--size-medium: 12px;
  --bq-badge--size-large: 16px;

  --bq-badge--text-color: theme(textColor.inverse);
}
