/* -------------------------------------------------------------------------- */
/*                                Badge styles                               */
/* -------------------------------------------------------------------------- */

@import './bq-badge.variables';

:host {
  --_badge-size: var(--bq-badge--size-medium);

  display: inline-block;
}

.bq-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bq-badge--text-color);
  background-color: var(--bq-badge--background-color);
  border-color: var(--bq-badge--border-color);
  border-radius: var(--bq-badge--border-radius);
  border-style: var(--bq-badge--border-style);
  border-width: var(--bq-badge--border-width);
  box-shadow: var(--bq-badge--box-shadow);
}

.bq-badge.is-empty {
  block-size: var(--_badge-size);
  inline-size: var(--_badge-size);
}

.bq-badge.is-populated {
  --_badge-size: var(--bq-badge--size-large);

  min-block-size: var(--_badge-size);
  min-inline-size: var(--_badge-size);
}

.bq-badge.is-multiple {
  padding-inline: var(--bq-spacing-xs2);
}

/* ---------------------------------- Size ---------------------------------- */

:host([size='small']) .bq-badge.is-empty {
  --_badge-size: var(--bq-badge--size-small);
}

:host([size='medium']) .bq-badge.is-empty {
  --_badge-size: var(--bq-badge--size-medium);
}

/* -------------------------------- Elements -------------------------------- */

.bq-badge__number {
  font-weight: var(--bq-font-weight--bold);
  font-size: var(--bq-font-size--xs);
  line-height: var(--bq-font-line-height--small);
}
