/* -------------------------------------------------------------------------- */
/*                                Steps styles                */
/* -------------------------------------------------------------------------- */

@import './bq-steps.variables';

:host {
  box-sizing: border-box;
  display: inline-flex;
}

:host([orientation='vertical']) {
  display: flex;
  block-size: 100%;
}

.bq-steps {
  position: relative;
  display: inline-flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  inline-size: 100%;
}

:host([orientation='vertical']) .bq-steps {
  flex-direction: column;
  block-size: 100%;
}
