/* -------------------------------------------------------------------------- */
/*                                Steps styles                */
/* -------------------------------------------------------------------------- */

@import './bq-steps.variables';

:host {
  @apply block;
}
