@layer bq.public {
  /**
   * Public defaults that need to exist in the root scope before BEEQ public
   * classes and components consume them.
   */
  :root {
    /* ---------------------------------- Icon ---------------------------------- */

    /**
     * Used to set the icon SVG direction, this is useful for RTL languages.
     * 1 is default (RTL), -1 is flipped (LTR).
     *
     * @prop --bq-icon--direction: Icon direction
     */
    --bq-icon--direction: 1;

    /* -------------------------------- Side menu ------------------------------- */

    /**
     * Used to set the side menu width when expanded.
     *
     * @prop --bq-side-menu--width: Side menu width
     * @prop --bq-side-menu--width-collapse: Side menu width when collapsed
     */
    --bq-side-menu--width: 16rem;
    --bq-side-menu--width-collapse: 4.5rem;
  }

  [dir='rtl'] {
    --bq-icon--direction: -1;
  }
}
