/* -------------------------------------------------------------------------- */
/*                               Spinner styles                               */
/* -------------------------------------------------------------------------- */
@import './bq-spinner.variables';

:host {
  position: relative;
  display: inline-block;
}

.bq-spinner {
  display: flex;
}

/* -------------------------------------------------------------------------- */
/*                             Spinner loader size                            */
/* -------------------------------------------------------------------------- */

.bq-spinner--loader.large {
  block-size: var(--bq-spinner--size-large);
  inline-size: var(--bq-spinner--size-large);
}

.bq-spinner--loader.medium {
  block-size: var(--bq-spinner--size-medium);
  inline-size: var(--bq-spinner--size-medium);
}

.bq-spinner--loader.small {
  block-size: var(--bq-spinner--size-small);
  inline-size: var(--bq-spinner--size-small);
}

/* -------------------------------------------------------------------------- */
/*                                Text position                               */
/* -------------------------------------------------------------------------- */

.position--left,
.position--right {
  flex-direction: row;
  align-items: center;

  &.has-text {
    column-gap: var(--bq-spacing-m);
  }
}

.position--left {
  .bq-spinner--loader,
  .bq-spinner--icon {
    order: 2;
  }

  .bq-spinner--text {
    order: 1;
  }
}

.position--right {
  .bq-spinner--loader,
  .bq-spinner--icon {
    order: 1;
  }

  .bq-spinner--text {
    order: 2;
  }
}

.position--above,
.position--below {
  flex-direction: column;
  align-items: center;

  &.has-text {
    row-gap: var(--bq-spacing-m);
  }
}

.position--above {
  .bq-spinner--loader,
  .bq-spinner--icon {
    order: 2;
  }

  .bq-spinner--text {
    order: 1;
  }
}

.position--below {
  .bq-spinner--loader,
  .bq-spinner--icon {
    order: 1;
  }

  .bq-spinner--text {
    order: 2;
  }
}

.bq-spinner--loader {
  position: relative;
  color: var(--bq-spinner--color);
}

.bq-spinner--loader svg {
  block-size: 100%;
  inline-size: 100%;
}

.bq-spinner--icon {
  display: flex;
}

.bq-spinner--icon.is-hidden,
.bq-spinner--text.is-hidden {
  display: none;
}

.bq-spinner--text {
  color: var(--bq-text--primary);
  font-weight: var(--bq-font-weight--medium);
  line-height: var(--bq-spinner--text-lineHeight);
}

.bq-spinner--text.large {
  font-size: var(--bq-spinner--large-text-fontSize);
}

.bq-spinner--text.medium {
  font-size: var(--bq-spinner--medium-text-fontSize);
}

.bq-spinner--text.small {
  font-size: var(--bq-spinner--small-text-fontSize);
}

/* -------------------------------------------------------------------------- */
/*                      Animate slotted icon if provided                      */
/* -------------------------------------------------------------------------- */

.is-animated {
  .bq-spinner--icon,
  .bq-spinner--loader > svg {
    @include animation-spin;
  }
}
