/* -------------------------------------------------------------------------- */
/*                                Option list styles                */
/* -------------------------------------------------------------------------- */

@import './bq-option-list.variables';

:host {
  display: block;
}

.bq-option-list {
  display: flex;
  flex-direction: column;
  row-gap: var(--bq-option-group--gapY-list);
}
