/* -------------------------------------------------------------------------- */
/*                              Option List Styles                            */
/* -------------------------------------------------------------------------- */

@import './bq-option-list.variables';

/* ---------------------------------- Host ---------------------------------- */

:host {
  display: block;
}

/* ---------------------------------- Base ---------------------------------- */

.bq-option-list {
  display: flex;
  flex-direction: column;
  row-gap: var(--bq-option-group--gapY-list);
}
