/* -------------------------------------------------------------------------- */
/*                          Option list custom properties           */
/* -------------------------------------------------------------------------- */

:host {
  /**
  * @prop --bq-option-group--gapY-list - option group gap between items Y axis
  */
  --bq-option-group--gapY-list: theme(spacing.xs);
}
