# Any change related to the .github workflows
# will require approval from @dgonzalezr.
.github/ @dgonzalezr

# Any change related to the NPM dependencies
# will require approval from @dgonzalezr @endv-bogdanb.

package.json @dgonzalezr @endv-bogdanb
package-lock.json @dgonzalezr @endv-bogdanb

# Any change inside the `/packages` directory
# will require approval from @dgonzalezr @endv-bogdanb.
/packages @dgonzalezr @endv-bogdanb
