/* -------------------------------------------------------------------------- */
/*                          Avatar custom properties                          */
/* -------------------------------------------------------------------------- */

:host {
  --bq-avatar--size-xsmall: 24px;
  --bq-avatar--size-small: 32px;
  --bq-avatar--size-medium: 48px;
  --bq-avatar--size-large: 64px;

  --bq-avatar--badge-top: 0;
  --bq-avatar--badge-right: 0;
  --bq-avatar--badge-left: 80%;
}
