/* -------------------------------------------------------------------------- */
/*                        Page title styles                        */
/* -------------------------------------------------------------------------- */

@import './bq-page-title.variables';

:host {
  display: block;
}

.bq-page-title {
  display: flex;
  gap: var(--bq-spacing-xs);
  padding-block: var(--_padding-block);
  border-block-end: var(--_subtitle-border-block-end);
}

.bq-page-title__back {
  display: flex;
}

.bq-page-title__content {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  gap: var(--bq-spacing-xs);
}

.bq-page-title__title-suffix {
  display: flex;
  align-items: center;
  gap: var(--bq-spacing-xs);
}

.bq-page-title__title,
.bq-page-title__subtitle {
  font-family: var(--bq-font-family);
  line-height: var(--_title-line-height);
}

.bq-page-title__title {
  color: var(--_title-text-color);
  font-weight: var(--_title-font-weight);
  font-size: var(--_title-text-size);
}

.bq-page-title__suffix {
  display: flex;
  flex: 1 1 0;
  gap: var(--bq-spacing-xs);
  padding-block: var(--bq-spacing-xs2);
  padding-inline: var(--bq-spacing-xs2);
}

.bq-page-title__subtitle {
  color: var(--_subtitle-text-color);
  font-weight: var(--_subtitle-font-weight);
  font-size: var(--_subtitle-text-size);
}

.is-hidden {
  display: none;
}
