# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# source files to ignore
.angular
master.zip
libs/bee-q/custom-elements.json
libs/bee-q/src/components/icon/svg/**
!/libs/bee-q/src/components/icon/svg/.gitkeep
libs/bee-q-angular/**/directives
libs/bee-q-react/src/react-component-lib
libs/bee-q-react/src/components.ts
tools/scripts/icon-library/phosphor-icons-master

# dependencies
node_modules

# IDEs and editors
/.idea
.history
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/stencil-component-starter.code-snippets

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db


package.e2e.json
