# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
.nx/*
!.nx/workflows
!.nx/nxw.js
/dist
/out-tsc
/tmp/**
chromatic-diagnostics.json

# source files to ignore
.angular
master.zip
packages/beeq/.stencil
packages/beeq/.storybook/assets/css/stories.css
packages/beeq/vite.config.*.timestamp-*
packages/beeq/custom-elements.json
packages/beeq/src/components/icon/svg/**
packages/beeq/src/_storybook/CHANGELOG.md
packages/beeq-angular/**/directives
packages/beeq-react/src/components.ts
packages/beeq-react/ssr/components.ts
packages/beeq-react/ssr/components.server.ts
packages/beeq-vue/src/vue-component-lib
packages/beeq-vue/src/components.ts
!.gitkeep

# dependencies
node_modules

# IDEs and editors
/.idea
.history
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/stencil-component-starter.code-snippets

# misc
.cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
package.e2e.json
