/* -------------------------------------------------------------------------- */
/*                                Toast styles                                */
/* -------------------------------------------------------------------------- */

@import './bq-toast.variables';

@layer utilities {
  @keyframes fade-in {
    from {
      opacity: 0;
    }
  }

  @keyframes slide-in {
    from {
      transform: translateY(10px);
    }
  }
}

:host {
  @apply hidden;
}

:host([open]) {
  @apply inline-block;
}

.bq-toast {
  @apply flex items-center gap-[var(--bq-toast--gap)] px-[var(--bq-toast--padding-x)] py-[var(--bq-toast--padding-y)];
  @apply rounded-[var(--bq-toast--border-radius)] bg-[var(--bq-toast--background)] shadow-[shadow:var(--bq-toast--box-shadow)];
  @apply border-[length:var(--bq-toast--border-width)] border-[color:var(--bq-toast--border-color)];

  animation: fade-in 0.3s ease, slide-in 0.3s ease;
  border-style: var(--bq-toast--border-style);
}

.bq-toast--icon {
  @apply flex;

  &.info {
    @apply text-[var(--bq-toast--icon-color-info)];
  }

  &.success {
    @apply text-[var(--bq-toast--icon-color-success)];
  }

  &.alert {
    @apply text-[var(--bq-toast--icon-color-alert)];
  }

  &.error {
    @apply text-[var(--bq-toast--icon-color-error)];
  }

  &.loading {
    @apply animate-spin text-[var(--bq-toast--icon-color-loading)];
  }

  &.custom {
    @apply text-[var(--bq-toast--icon-color-custom)];
  }
}
