/* -------------------------------------------------------------------------- */
/*                        Theme: Default - space tokens                       */
/* -------------------------------------------------------------------------- */

:root {
  --bq-spacing-xs3: 2px;
  --bq-spacing-xs2: 4px;
  --bq-spacing-xs: 8px;
  --bq-spacing-s: 12px;
  --bq-spacing-m: 16px;
  --bq-spacing-l: 24px;
  --bq-spacing-xl: 32px;
  --bq-spacing-xxl: 40px;
  --bq-spacing-xxl2: 56px;
  --bq-spacing-xxl3: 64px;
  --bq-spacing-xxl4: 72px;
}
