/* -------------------------------------------------------------------------- */
/*                          Input custom properties           */
/* -------------------------------------------------------------------------- */

:host {
  /**
   * @prop --bq-input--background-color - Input background color
   * @prop --bq-input--border-color - Input border color
   * @prop --bq-input--border-color-focus - Input border color on focus
   * @prop --bq-input--border-radius - Input border radius
   * @prop --bq-input--border-width - Input border width
   * @prop --bq-input--border-style - Input border style
   * @prop --bq-input--gap - Gap between input content and prefix/suffix
   * @prop --bq-input--helper-margin-top - Helper text margin top
   * @prop --bq-input--helper-text-color - Helper text color
   * @prop --bq-input--helper-text-size - Helper text size
   * @prop --bq-input--icon-size - Icon size to use in prefix/suffix and clear button
   * @prop --bq-input--label-margin-bottom - Input label margin bottom
   * @prop --bq-input--label-text-color - Input label text color
   * @prop --bq-input--label-text-size - Input label text size
   * @prop --bq-input--padding-start - Input padding start
   * @prop --bq-input--padding-end - Input padding end
   * @prop --bq-input--paddingY - Input padding top and bottom
   * @prop --bq-input--text-color - Input text color
   * @prop --bq-input--text-size - Input text size
   * @prop --bq-input--text-placeholder-color - Input placeholder text color
   */
  --bq-input--background-color: theme(backgroundColor.ui.primary);

  --bq-input--border-color: theme(stroke.tertiary);
  --bq-input--border-color-focus: theme(stroke.brand);
  --bq-input--border-radius: theme(borderRadius.s);
  --bq-input--border-width: theme(borderWidth.s);
  --bq-input--border-style: solid;

  --bq-input--gap: theme(spacing.xs);

  --bq-input--helper-margin-top: theme(spacing.xs);
  --bq-input--helper-text-size: theme(fontSize.s);
  --bq-input--helper-text-color: theme(textColor.primary);

  --bq-input--icon-size: 24px;

  --bq-input--label-margin-bottom: theme(spacing.xs);
  --bq-input--label-text-size: theme(fontSize.s);
  --bq-input--label-text-color: theme(textColor.primary);

  --bq-input--padding-start: theme(spacing.m);
  --bq-input--padding-end: theme(spacing.m);
  --bq-input--paddingY: theme(spacing.s);

  --bq-input--text-color: theme(textColor.primary);
  --bq-input--text-size: theme(fontSize.m);
  --bq-input--text-placeholder-color: theme(textColor.secondary);
}
