/* -------------------------------------------------------------------------- */
/*                          Side menu custom properties           */
/* -------------------------------------------------------------------------- */

:host {
  --bq-side-menu--bg-color: theme('colors.ui.secondary-light');
  --bq-side-menu--brand-color: theme('colors.stroke.brand');
  --bq-side-menu--width: 256px;
  --bq-side-menu--width-collapse: 80px;
}

:host(.brand) {
  --bq-side-menu--bg-color: theme('colors.ui.brand');
  --bq-side-menu--brand-color: theme('colors.stroke.inverse');

  ::slotted(bq-side-menu-item) {
    --bq-side-menu-item--bg-hover: theme('backgroundColor.ui.brand-hover');

    --bq-side-menu-item--text-default: theme('textColor.text.inverse');
    --bq-side-menu-item--text-hover: theme('textColor.text.inverse');
  }
}

:host(.inverse) {
  --bq-side-menu--bg-color: theme('colors.ui.inverse');
  --bq-side-menu--brand-color: theme('colors.stroke.inverse');

  ::slotted(bq-side-menu-item) {
    --bq-side-menu-item--bg-hover: theme('backgroundColor.ui.inverse-hover');
    --bq-side-menu-item--bg-active: theme('backgroundColor.ui.secondary-light');

    --bq-side-menu-item--text-default: theme('textColor.text.inverse');
    --bq-side-menu-item--text-hover: theme('textColor.text.inverse');
    --bq-side-menu-item--text-active: theme('textColor.text.primary');
  }
}
