/* -------------------------------------------------------------------------- */
/*                          Menu custom properties           */
/* -------------------------------------------------------------------------- */

:host {
  --bq-menu--height: 100vh;
  --bq-menu--width: 256px;
  --bq-menu--padding: 8px;
  --bq-menu--gap: 8px;
  --bq-menu--bg-color: #f8f8f9;

  --bq-menu-header--small-paddingX: 8px;
  --bq-menu-header--small-paddingY: 4px;

  --bq-menu-header--medium-paddingX: 16px;
  --bq-menu-header--medium-paddingY: 12px;
}
