/* -------------------------------------------------------------------------- */
/*                                Dialog styles                */
/* -------------------------------------------------------------------------- */

@import './bq-dialog.variables';

:host {
  @apply invisible #{!important};
}

:host(.bq-dialog--open) {
  @apply visible #{!important};
}

/* --------------------------------- Dialog --------------------------------- */

.bq-dialog {
  @apply absolute left-1/2 top-1/2 flex -translate-x-1/2 -translate-y-1/2 transform flex-col gap-[var(--bq-dialog--content-footer-gap)] p-0;
  @apply rounded-[var(--bq-dialog--border-radius)] bg-[var(--bq-dialog--background)] shadow-[shadow:var(--bq-dialog--box-shadow)];
  @apply opacity-0 transition-opacity duration-300 ease-in-out;
  // If mobile resolution, dialog will be full width
  @apply w-[90vw];

  border: var(--bq-dialog--border-width) var(--bq-dialog--border-style) var(--bq-dialog--border-color);

  &.small {
    @apply sm:w-[var(--bq-dialog--width-small)];
  }

  &.medium {
    @apply sm:w-[var(--bq-dialog--width-medium)];
  }

  &.large {
    @apply sm:w-[var(--bq-dialog--width-large)];
  }
}

.bq-dialog[open] {
  @apply opacity-100;
}

/* ----------------------------- Dialog backdrop ---------------------------- */

.bq-dialog::backdrop {
  @apply bg-[var(--bq-dialog--background-backdrop)] opacity-0 transition-[opacity] duration-300 ease-in-out;
}

.bq-dialog[open]::backdrop {
  @apply opacity-50;
}

/* ------------------------------ Dialog header ----------------------------- */

.bq-dialog--header {
  @apply sticky top-0 flex items-center gap-m p-[var(--bq-dialog--padding)] pb-0;
}

/* ------------------------------ Dialog footer ----------------------------- */

.bq-dialog--footer {
  @apply sticky top-full flex w-full items-center justify-end gap-xs p-[var(--bq-dialog--padding)] pt-0;
}

/* --------------------------- Dialog close button -------------------------- */

.bq-dialog--close {
  --bq-radius--m: theme('borderRadius.s');
  --bq-button--small-paddingX: theme('spacing.xs2');
  --bq-button--small-paddingY: theme('spacing.xs2');

  &::part(button) {
    @apply border-none;
  }
}
