/* -------------------------------------------------------------------------- */
/*                          Dialog custom properties           */
/* -------------------------------------------------------------------------- */

:host {
  --bq-dialog--small-width: 320px;
  --bq-dialog--medium-width: 480px;
  --bq-dialog--large-width: 640px;
  --bq-dialog--icon-size: 30px;
}
