/* -------------------------------------------------------------------------- */
/*                          Dialog custom properties           */
/* -------------------------------------------------------------------------- */

:host {
  --bq-dialog--small-width: 320px;
  --bq-dialog--medium-width: 480px;
  --bq-dialog--large-width: 640px;

  // --bq-dialog--header-small-width: 272px;
  // --bq-dialog--header-medium-width: 432px;
  // --bq-dialog--header-large-width: 592px;

  // --bq-dialog--title-small-width: 182px;
  // --bq-dialog--title-medium-width: 342px;
  // --bq-dialog--title-large-width: 502px;
}
