/* -------------------------------------------------------------------------- */
/*                                Dialog styles                */
/* -------------------------------------------------------------------------- */

@import './bq-dialog-variables';

:host {
  @apply block;
}

.bq-dialog-container {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 2px 48px 16px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  margin: 0 auto;
}

header {
  @apply px-6 pt-6;
}

.open {
  @apply flex;
}

.bq-header {
  @apply flex;
}

.bq-placeholder-info {
  @apply h-[30px] w-[30px];
}

.bq-content-content {
  @apply pt-10 pl-10 pr-0;
}

footer {
  @apply flex h-[72px] w-full items-center justify-end py-3 px-6;

  &.light {
    background-color: #f8f8f9;
    @apply px-0 pb-0;
  }
}

.overlay {
  background-color: lightslategrey;
}

// Size

.size {
  &--small {
    @apply w-[var(--bq-dialog--small-width)];
  }

  &--medium {
    @apply w-[var(--bq-dialog--medium-width)];
  }

  &--large {
    @apply w-[var(--bq-dialog--large-width)];
  }
}

.size-header {
  &--small {
    @apply h-full w-[var(--bq-dialog--header-small-width)];
  }
  &--medium {
    @apply h-full w-[var(--bq-dialog--header-medium-width)];
  }
  &--large {
    @apply h-full w-[var(--bq-dialog--header-large-width)];
  }
}

.size-title {
  &--small {
    @apply h-full w-[var(--bq-dialog--title-small-width)];
  }
  &--medium {
    @apply h-full w-[var(--bq-dialog--title-medium-width)];
  }
  &--large {
    @apply h-full w-[var(--bq-dialog--title-large-width)];
  }
}
