/* -------------------------------------------------------------------------- */
/*                          Radio custom properties                          */
/* -------------------------------------------------------------------------- */

:host {
  /**
   * @prop --bq-radio--background-color - Radio background color
   * @prop --bq-radio--border-width - Radio border width
   * @prop --bq-radio--size - Radio size
   */
  --bq-radio--background-color: theme(backgroundColor.ui.primary);
  --bq-radio--border-width: theme(borderWidth.m);
  --bq-radio--size: 24px;
}
