/* -------------------------------------------------------------------------- */
/*                          Radio custom properties                          */
/* -------------------------------------------------------------------------- */

:host {
  /**
   * @prop --bq-radio--size - Radio size
   * @prop --bq-radio--border-width - Radio border width
   */
  --bq-radio--size: 24px;
  --bq-radio--border-width: theme(borderWidth.m);
}
