/* -------------------------------------------------------------------------- */
/*                                Select styles                               */
/* -------------------------------------------------------------------------- */

@import './bq-select.variables';

:host {
  @apply block w-full;
}

/* -------------------------------------------------------------------------- */
/*                            Label and Helper text                           */
/* -------------------------------------------------------------------------- */

.bq-select__label {
  @apply mb-[--bq-select--label-margin-bottom] flex flex-grow items-center gap-[--var(--bq-select--gap-label)];
  @apply text-[length:--bq-select--label-text-size] text-[color:--bq-select--label-text-color];
}

.bq-select__helper-text {
  @apply mt-[--bq-select--helper-margin-top] text-[length:--bq-select--helper-text-size] text-[color:--bq-select--helper-text-color];
}

.bq-select__helper-text.validation-error {
  @apply text-text-danger;
}

.bq-select__helper-text.validation-success {
  @apply text-text-success;
}

.bq-select__helper-text.validation-warning {
  @apply text-text-warning;
}

/* -------------------------------------------------------------------------- */
/*                         Select input group control                         */
/* -------------------------------------------------------------------------- */

.bq-select__control {
  @apply flex w-full items-center transition-[border-color,box-shadow];
  // Border
  @apply rounded-[--bq-select--border-radius] border-[length:--bq-select--border-width] border-[color:--bq-select--border-color];
  // Padding
  @apply py-[--bq-select--paddingY] pe-[--bq-select--pading-end] ps-[--bq-select--pading-start];
  // Text
  @apply select-none text-[length:--bq-select--text-size] text-[color:--bq-select--text-color] placeholder:text-[color:--bq-select--text-placeholder-color];
  // Hover
  @apply [&:not(.disabled):not(:focus-within)]:hover:border-[color:--bq-select--border-color-hover];

  border-style: var(--bq-select--border-style);

  // Focus
  &:not(.disabled):focus-within {
    --bq-ring-width: 1px;
    --bq-ring-offset-width: 0;
    --bq-ring-color-focus: var(--bq-select--border-color-focus);

    @apply focus border-[color:--bq-select--border-color-focus];
  }

  // Enable clear button whenever the input group control is hovered or has focus
  &:not(.disabled):hover,
  &:not(.disabled):focus-within {
    .bq-select__control--clear {
      @apply inline-block;
    }
  }
}

.bq-select__control.disabled {
  @apply cursor-not-allowed border-[color:--bq-stroke--tertiary-disabled] bg-ui-secondary-disabled;
}

/* ------------------------------- Validation ------------------------------- */

.bq-select__control.validation-error {
  @apply border-stroke-danger [&:not(.disabled):not(:focus-within)]:hover:border-stroke-danger-hover;

  &:not(.disabled):focus-within {
    --bq-ring-color-focus: theme('colors.stroke.danger-active');
    @apply border-stroke-danger-active;
  }
}

.bq-select__control.validation-success {
  @apply border-stroke-success [&:not(.disabled):not(:focus-within)]:hover:border-stroke-success-hover;

  &:not(.disabled):focus-within {
    --bq-ring-color-focus: theme('colors.stroke.success-active');
    @apply border-stroke-success-active;
  }
}

.bq-select__control.validation-warning {
  @apply border-stroke-warning [&:not(.disabled):not(:focus-within)]:hover:border-stroke-warning-hover;

  &:not(.disabled):focus-within {
    --bq-ring-color-focus: theme('colors.stroke.warning-active');
    @apply border-stroke-warning-active;
  }
}

/* -------------------------------------------------------------------------- */
/*                              Native HTML Input                             */
/* -------------------------------------------------------------------------- */

.bq-select__control--input {
  @apply flex-auto cursor-[inherit] select-none appearance-none bg-[inherit] font-[inherit] text-[length:inherit] text-[color:inherit];
  @apply m-0 min-h-[--bq-select--icon-size] min-w-[0] border-none p-0 focus:outline-none focus-visible:outline-none;

  box-shadow: none;
  font-weight: inherit;
}

/* -------------------------------------------------------------------------- */
/*                                Clear button                                */
/* -------------------------------------------------------------------------- */

.bq-select__control--clear::part(button) {
  // Since the clear button is inside the input group control,
  // we need to reset the focus ring styles
  --bq-ring-width: initial;
  --bq-ring-offset-width: initial;
  --bq-ring-color-focus: initial;

  @apply h-auto rounded-xs border-none p-0;
}

/* -------------------------------------------------------------------------- */
/*                              Prefix and suffix                             */
/* -------------------------------------------------------------------------- */

.bq-select__control--prefix,
.bq-select__control--suffix {
  @apply pointer-events-none flex items-center text-[color:var(--bq-select--text-color)];
}

.bq-select__control--prefix {
  @apply me-[--bq-select--gap];
}

.bq-select__control--suffix {
  @apply ms-[--bq-select--gap] transition-transform duration-300 ease-in-out;
}

/* -------------------------------------------------------------------------- */
/*                         Slotted and internal icons                         */
/* -------------------------------------------------------------------------- */

bq-icon,
::slotted(bq-icon) {
  --bq-icon--size: var(--bq-select--icon-size) !important;
}
