/* -------------------------------------------------------------------------- */
/*                                Panel styles                */
/* -------------------------------------------------------------------------- */

@import './bq-panel.variables';

:host {
  display: block;
}

.bq-panel {
  @include animation-fade-in;

  position: fixed;
  z-index: var(--bq-panel-z-index);
  overflow: hidden auto;
  max-block-size: var(--bq-panel--height);
  inline-size: var(--bq-panel--width);
  padding-block: var(--bq-panel--paddingY);
  padding-inline: var(--bq-panel--padding-start) var(--bq-panel--padding-end);
  background-color: var(--bq-panel--background);
  border-color: var(--bq-panel--border-color);
  border-radius: var(--bq-panel--border-radius);
  border-style: var(--bq-panel--border-style);
  border-width: var(--bq-panel--border-width);
  box-shadow: var(--bq-panel--box-shadow);
}
