/* -------------------------------------------------------------------------- */
/*                                Toast styles                                */
/* -------------------------------------------------------------------------- */

@use 'sass:meta';
@layer bq.reset, bq.tokens, bq.themes, bq.base, bq.utilities, bq.overrides,
  bq-toast.tokens, bq-toast.base, bq-toast.structure, bq-toast.variants, bq-toast.states;

@layer bq-toast.tokens {
  @include meta.load-css('bq-toast.variables');
}

/* ---------------------------------- Host ---------------------------------- */

@layer bq-toast.base {
  :host {
    --_toast-border-radius: var(--bq-toast--border-radius);
    --_toast-icon-color: var(--bq-toast--icon-color-info);

    display: inline-block;
  }
}

/* ---------------------------------- Base ---------------------------------- */

@layer bq-toast.base {
  .bq-toast {
    @include animation-slide-in;

    display: flex;
    gap: var(--bq-toast--gap);
    align-items: center;
    padding-block: var(--bq-toast--padding-y);
    padding-inline: var(--bq-toast--padding-x);
    background-color: var(--bq-toast--background);
    border-color: var(--bq-toast--border-color);
    border-radius: var(--_toast-border-radius);
    border-style: var(--bq-toast--border-style);
    border-width: var(--bq-toast--border-width);
    box-shadow: var(--bq-toast--box-shadow);
  }
}

/* ------------------------------- Structure -------------------------------- */

@layer bq-toast.structure {
  .bq-toast__icon {
    display: flex;
    color: var(--_toast-icon-color);
  }
}

/* -------------------------------- Variants -------------------------------- */

@layer bq-toast.variants {
  :host([border='none']) {
    --_toast-border-radius: var(--bq-radius--none);
  }

  :host([border='xs2']) {
    --_toast-border-radius: var(--bq-radius--xs2);
  }

  :host([border='xs']) {
    --_toast-border-radius: var(--bq-radius--xs);
  }

  :host([border='m']) {
    --_toast-border-radius: var(--bq-radius--m);
  }

  :host([border='l']) {
    --_toast-border-radius: var(--bq-radius--l);
  }

  :host([border='full']) {
    --_toast-border-radius: var(--bq-radius--full);
  }

  :host([type='success']) {
    --_toast-icon-color: var(--bq-toast--icon-color-success);
  }

  :host([type='alert']) {
    --_toast-icon-color: var(--bq-toast--icon-color-alert);
  }

  :host([type='error']) {
    --_toast-icon-color: var(--bq-toast--icon-color-error);
  }

  :host([type='loading']) {
    --_toast-icon-color: var(--bq-toast--icon-color-loading);
  }

  :host([type='loading']) .bq-toast__icon {
    @include animation-spin;
  }

  :host([type='custom']) {
    --_toast-icon-color: var(--bq-toast--icon-color-custom);
  }
}

/* --------------------------------- States --------------------------------- */

@layer bq-toast.states {
  :host(:not([open])),
  :host([hide-icon]) .bq-toast__icon {
    display: none;
  }
}
