/* -------------------------------------------------------------------------- */
/*                          Avatar custom properties                          */
/* -------------------------------------------------------------------------- */

:host {
  /**
  * @prop --bq-avatar--background: Avatar background color

  * @prop --bq-avatar--border-color: Avatar border color
  * @prop --bq-avatar--border-style: Avatar border style
  * @prop --bq-avatar--border-width: Avatar border width

  * @prop --bq-avatar--border-radius-circle: Avatar border radius for circle & any size
  * @prop --bq-avatar--border-radius-squareXs: Avatar border radius for square & size xsmall
  * @prop --bq-avatar--border-radius-squareS: Avatar border radius for square & size small
  * @prop --bq-avatar--border-radius-squareM: Avatar border radius for square & size medium/large

  * @prop --bq-avatar--size-xsmall: Avatar xsmall size
  * @prop --bq-avatar--size-small: Avatar small size
  * @prop --bq-avatar--size-medium: Avatar medium size
  * @prop --bq-avatar--size-large: Avatar large size

  * @prop --bq-avatar--badge-top-square: Badge top position shape square
  * @prop --bq-avatar--badge-left-square: Badge left position shape square
  * @prop --bq-avatar--badge-top-circle: Badge top position shape circle
  * @prop --bq-avatar--badge-left-circle: Badge left position shape circle
  */

  --bq-avatar-background: theme(backgroundColor.ui.alt);

  --bq-avatar--border-color: theme(stroke.tertiary);
  --bq-avatar--border-style: solid;
  --bq-avatar--border-width: theme(borderWidth.m);

  --bq-avatar--border-radius-circle: theme(borderRadius.full);
  --bq-avatar--border-radius-squareXs: theme(borderRadius.xs);
  --bq-avatar--border-radius-squareS: theme(borderRadius.s);
  --bq-avatar--border-radius-squareM: theme(borderRadius.m);

  --bq-avatar--size-xsmall: 24px;
  --bq-avatar--size-small: 32px;
  --bq-avatar--size-medium: 48px;
  --bq-avatar--size-large: 64px;

  --bq-avatar--font-size-xsmall: theme(fontSize.xs);
  --bq-avatar--font-size-small: theme(fontSize.xs);
  --bq-avatar--font-size-medium: theme(fontSize.m);
  --bq-avatar--font-size-large: theme(fontSize.m);

  --bq-avatar--badge-top-square: -5px;
  --bq-avatar--badge-left-square: 80%;
  --bq-avatar--badge-top-circle: 0;
  --bq-avatar--badge-left-circle: 75%;
}
