/* -------------------------------------------------------------------------- */
/*                                Avatar styles                               */
/* -------------------------------------------------------------------------- */

@import './bq-avatar.variables';

/* ---------------------------------- Host ---------------------------------- */

:host {
  --_avatar-size: var(--bq-avatar--size-medium);
  --_avatar-font-size: var(--bq-avatar--font-size-medium);
  --_avatar-border-radius: var(--bq-avatar--border-radius-circle);
  --_avatar-badge-inset-block-start: var(--bq-avatar--badge-top-circle);
  --_avatar-badge-inset-inline-start: var(--bq-avatar--badge-left-circle);

  position: relative;
  display: inline-block;
}

/* ---------------------------------- Base ---------------------------------- */

.bq-avatar {
  position: relative;
  overflow: hidden;
  block-size: var(--_avatar-size);
  inline-size: var(--_avatar-size);
  color: var(--bq-text--primary);
  font-size: var(--_avatar-font-size);
  background-color: var(--bq-avatar--background);
  border-color: var(--bq-avatar--border-color);
  border-radius: var(--_avatar-border-radius);
  border-style: var(--bq-avatar--border-style);
  border-width: var(--bq-avatar--border-width);
}

/* ------------------------------- Structure -------------------------------- */

.bq-avatar__text {
  position: absolute;
  inset-block: 0;
  inset-inline-start: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  block-size: 100%;
  inline-size: 100%;
  font-weight: var(--bq-font-weight--bold);
}

.bq-avatar__image {
  position: absolute;
  inset-block: 0;
  inset-inline-start: 0;
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

.bq-avatar__badge {
  position: absolute;
  inset-block-start: var(--_avatar-badge-inset-block-start);
  inset-inline-start: var(--_avatar-badge-inset-inline-start);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* -------------------------------- Variants -------------------------------- */

:host([size='xsmall']) {
  --_avatar-size: var(--bq-avatar--size-xsmall);
  --_avatar-font-size: var(--bq-avatar--font-size-xsmall);
}

:host([size='small']) {
  --_avatar-size: var(--bq-avatar--size-small);
  --_avatar-font-size: var(--bq-avatar--font-size-small);
}

:host([size='large']) {
  --_avatar-size: var(--bq-avatar--size-large);
  --_avatar-font-size: var(--bq-avatar--font-size-large);
}

:host([shape='square']) {
  --_avatar-border-radius: var(--bq-avatar--border-radius-squareM);
  --_avatar-badge-inset-block-start: var(--bq-avatar--badge-top-square);
  --_avatar-badge-inset-inline-start: var(--bq-avatar--badge-left-square);
}

:host([shape='square'][size='xsmall']) {
  --_avatar-border-radius: var(--bq-avatar--border-radius-squareXs);
}

:host([shape='square'][size='small']) {
  --_avatar-border-radius: var(--bq-avatar--border-radius-squareS);
}
