/* -------------------------------------------------------------------------- */
/*                          Tab custom properties                          */
/* -------------------------------------------------------------------------- */

:host {
  --bq-tab--pading-vertical-small: theme('spacing.xs2');
  --bq-tab--pading-horizontal-small: theme('spacing.m');
  --bq-tab--pading-vertical-medium: theme('spacing.xs');
  --bq-tab--pading-horizontal-medium: 20px;
  --bq-tab--pading-vertical-large: theme('spacing.s');
  --bq-tab--pading-horizontal-large: theme('spacing.l');
  --bq-tab--icon-size-small: 20px;
  --bq-tab--icon-size-medium: 24px;
  --bq-tab--icon-size-large: 24px;
}
