/* -------------------------------------------------------------------------- */
/*                          Tab custom properties                          */
/* -------------------------------------------------------------------------- */

:host {
  --bq-tab--pading-vertical-small: 4px;
  --bq-tab--pading-horizontal-small: 16px;
  --bq-tab--pading-vertical-medium: 8px;
  --bq-tab--pading-horizontal-medium: 20px;
  --bq-tab--pading-vertical-large: 12px;
  --bq-tab--pading-horizontal-large: 24px;
  --bq-tab--icon-size-small: 20px;
  --bq-tab--icon-size-medium: 24px;
  --bq-tab--icon-size-large: 24px;
}
