/* -------------------------------------------------------------------------- */
/*                                Tab styles                               */
/* -------------------------------------------------------------------------- */

@import './bq-tab-variables';

:host {
  @apply inline-block;
}

.bq-tab {
  @apply relative flex cursor-pointer items-center justify-center disabled:cursor-not-allowed;
  @apply text-m font-medium leading-large;
  /* resets button default style */
  @apply border-0 bg-transparent focus:outline-none focus-visible:outline-none;

  &:focus-visible {
    @apply focus rounded-s;
  }

  &--small {
    @apply py-1 px-4;

    ::slotted(bq-icon) {
      --bq-icon--size: 20px !important;
    }
  }

  &--medium {
    @apply py-2 px-5;

    ::slotted(bq-icon) {
      --bq-icon--size: 24px !important;
    }
  }

  &--large {
    @apply py-3 px-6 text-l;

    ::slotted(bq-icon) {
      --bq-icon--size: 24px !important;
    }
  }
}

.bq-tab__underline {
  @apply absolute bottom-0 w-full border-x-0 border-t-0;
}
