/* -------------------------------------------------------------------------- */
/*                          Option custom properties           */
/* -------------------------------------------------------------------------- */

:host {
  --bq-option--height: 40px;

  --bq-option-label--m-width: 20vw;
  --bq-option-label--paddingX: 12px;
}
