/* -------------------------------------------------------------------------- */
/*                              Tab group styles                              */
/* -------------------------------------------------------------------------- */

/* ---------------------------------- Host ---------------------------------- */

:host {
  display: block;
}

/* ---------------------------------- Base ---------------------------------- */

.bq-tab-group {
  /* Divider defaults: horizontal orientation, block-end edge */
  --_divider-block-size: var(--bq-stroke-s);
  --_divider-inline-size: 100%;
  --_divider-inset-block: auto 0;
  --_divider-inset-inline: 0;

  position: relative;
  display: flex;
  inline-size: 100%;
}

.bq-tab-group::after {
  content: '';
  position: absolute;
  inset-block: var(--_divider-inset-block);
  inset-inline: var(--_divider-inset-inline);
  block-size: var(--_divider-block-size);
  inline-size: var(--_divider-inline-size);
  background-color: var(--bq-stroke--primary);
}

/* ------------------------------- Structure -------------------------------- */

.bq-tab-group__tabs {
  @include hide-scrollbar;

  display: flex;
  gap: var(--bq-spacing-xs2);
  // Padding prevents the tab focus outline from being clipped by the container overflow.
  padding: var(--bq-spacing-xs2);
  overflow: auto hidden;
}

/* -------------------------------- Variants -------------------------------- */

:host([orientation='vertical']) {
  display: inline-block;
}

:host([orientation='horizontal'][placement='end']) .bq-tab-group {
  justify-content: flex-end;
}

:host([orientation='vertical']) .bq-tab-group__tabs {
  flex-direction: column;
  overflow: hidden auto;
}

:host([orientation='vertical'][placement='start']) .bq-tab-group {
  --_divider-block-size: 100%;
  --_divider-inline-size: var(--bq-stroke-s);
  --_divider-inset-block: 0;
  --_divider-inset-inline: auto 0;
}

:host([orientation='vertical'][placement='end']) .bq-tab-group {
  --_divider-block-size: 100%;
  --_divider-inline-size: var(--bq-stroke-s);
  --_divider-inset-block: 0;
  --_divider-inset-inline: 0 auto;
}

/* --------------------------------- States --------------------------------- */

:host([disable-divider]) .bq-tab-group::after {
  content: none;
}
