/* -------------------------------------------------------------------------- */
/*                              Tab group styles                              */
/* -------------------------------------------------------------------------- */

/* ---------------------------------- Host ---------------------------------- */

:host {
  display: block;
}

/* ---------------------------------- Base ---------------------------------- */

.bq-tab-group {
  position: relative;
  display: flex;
  justify-content: flex-start;
  inline-size: 100%;
}

.bq-tab-group::after {
  position: absolute;
  inset-block-end: 0;
  display: flex;
  inline-size: 100%;
  content: '';
  border-color: var(--bq-stroke--primary);
  border-style: solid;
  border-width: 0;
  border-block-end-width: var(--bq-stroke-s);
}

/* ------------------------------- Structure -------------------------------- */

.bq-tab-group__tabs {
  @include hide-scrollbar;

  display: flex;
  gap: var(--bq-spacing-xs2);
  overflow-inline: auto;
  padding-block: var(--bq-spacing-xs2);
  padding-inline: var(--bq-spacing-xs2);
}

/* -------------------------------- Variants -------------------------------- */

:host([orientation='vertical']) {
  display: inline-block;
}

:host([orientation='horizontal'][placement='end']) .bq-tab-group {
  justify-content: flex-end;
}

:host([orientation='vertical']) .bq-tab-group__tabs {
  flex-direction: column;
}

:host([orientation='vertical'][placement='start']) .bq-tab-group::after {
  inset-inline-end: 0;
  block-size: 100%;
  inline-size: 0;
  border-block-end-width: 0;
  border-inline-end-width: var(--bq-stroke-s);
}

:host([orientation='vertical'][placement='end']) .bq-tab-group::after {
  inset-inline-start: 0;
  block-size: 100%;
  inline-size: 0;
  border-block-end-width: 0;
  border-inline-start-width: var(--bq-stroke-s);
}

/* --------------------------------- States --------------------------------- */

:host([disable-divider]) .bq-tab-group::after {
  content: none;
}
