/* -------------------------------------------------------------------------- */
/*                                Dialog styles                */
/* -------------------------------------------------------------------------- */

@import './bq-dialog.variables';

:host {
  @apply invisible #{!important};
}

:host(.bq-dialog--open) {
  @apply visible #{!important};
}

/* --------------------------------- Dialog --------------------------------- */

.bq-dialog {
  @apply absolute left-1/2 top-1/2 flex -translate-x-1/2 -translate-y-1/2 transform flex-col gap-[var(--bq-dialog--content-footer-gap)] p-0;
  @apply bg-[--bq-dialog--background] text-[--bq-dialog--text-color] shadow-[shadow:--bq-dialog--box-shadow];
  @apply rounded-[var(--bq-dialog--border-radius)] border-[length:--bq-dialog--border-width] border-[color:--bq-dialog--border-color];
  // If mobile resolution, dialog will be full width
  @apply w-[90vw];

  border-style: var(--bq-dialog--border-style);

  &.small {
    @apply sm:w-[--bq-dialog--width-small];
  }

  &.medium {
    @apply sm:w-[--bq-dialog--width-medium];
  }

  &.large {
    @apply sm:w-[--bq-dialog--width-large];
  }
}

/* ----------------------------- Dialog backdrop ---------------------------- */

.bq-dialog::backdrop {
  @apply bg-[--bq-dialog--background-backdrop] opacity-0 transition-[opacity] duration-300 ease-in-out;
}

.bq-dialog[open]::backdrop {
  @apply opacity-60;
}

/* ------------------------------ Dialog header ----------------------------- */

.bq-dialog--header {
  @apply sticky top-0 flex items-center gap-m p-[--bq-dialog--padding] pb-0;
}

/* ------------------------------ Dialog footer ----------------------------- */

.bq-dialog--footer {
  @apply sticky top-full flex w-full items-center justify-end gap-xs p-[--bq-dialog--padding] pt-0;
}

/* --------------------------- Dialog close button -------------------------- */

.bq-dialog--close {
  --bq-radius--m: theme('borderRadius.s');
  --bq-button--small-paddingX: theme('spacing.xs2');
  --bq-button--small-paddingY: theme('spacing.xs2');

  &::part(button) {
    @apply border-none;
  }
}
