/* -------------------------------------------------------------------------- */
/*                          Dialog custom properties           */
/* -------------------------------------------------------------------------- */

:host,
::backdrop {
  /**
   * @prop --bq-dialog--background: Dialog background color
   * @prop --bq-dialog--background-backdrop: Dialog backdrop background color
   * @prop --bq-dialog--box-shadow: Dialog box shadow
   * @prop --bq-dialog--border-color: Dialog border color
   * @prop --bq-dialog--border-style: Dialog border style
   * @prop --bq-dialog--border-width: Dialog border width
   * @prop --bq-dialog--border-radius: Dialog border radius
   * @prop --bq-dialog--padding: Dialog padding
   * @prop --bq-dialog--content-footer-gap: Dialog gap distance between content and footer elements
   * @prop --bq-dialog--title-body-gap: Dialog gap distance between title and body elements
   * @prop --bq-dialog--width-small: Dialog small width
   * @prop --bq-dialog--width-medium: Dialog medium width
   * @prop --bq-dialog--width-large: Dialog large width
   * @prop --bq-dialog-z-index: Dialog z-index applied when opened
   */

  --bq-dialog--background: theme(backgroundColor.ui.primary);
  --bq-dialog--background-backdrop: theme(backgroundColor.overlay);
  --bq-dialog--text-color: theme(textColor.primary);

  --bq-dialog--box-shadow: theme(boxShadow.l);

  --bq-dialog--border-color: theme(stroke.transparent);
  --bq-dialog--border-radius: theme(borderRadius.m);
  --bq-dialog--border-style: none;
  --bq-dialog--border-width: unset;

  --bq-dialog--padding: theme(spacing.l);
  --bq-dialog--content-footer-gap: theme(spacing.l);
  --bq-dialog--title-body-gap: theme(spacing.s);

  --bq-dialog--width-small: 320px;
  --bq-dialog--width-medium: 480px;
  --bq-dialog--width-large: 640px;

  --bq-dialog-z-index: 10;
}
