/* -------------------------------------------------------------------------- */
/*                          Breadcrumb item custom properties           */
/* -------------------------------------------------------------------------- */

:host {
  /**
  * @prop --bq-breadcrumb-item--background: background color

  * @prop --bq-breadcrumb-item--border-color: border color
  * @prop --bq-breadcrumb-item--border-style: border style
  * @prop --bq-breadcrumb-item--border-width: border width
  * @prop --bq-breadcrumb-item--border-radius: border radius

  * @prop --bq-breadcrumb-item--box-shadow: box shadow

  * @prop --bq-breadcrumb-item--paddingX: padding X axis
  * @prop --bq-breadcrumb-item--paddingY: padding Y axis

  * @prop --bq-breadcrumb-item--padding-separator: padding X axis on separator element
  * @prop --bq-breadcrumb-item--font-size: font size
  */

  --bq-breadcrumb-item--background: theme('colors.transparent');

  --bq-breadcrumb-item--border-color: theme('colors.transparent');
  --bq-breadcrumb-item--border-style: none;
  --bq-breadcrumb-item--border-width: 0;
  --bq-breadcrumb-item--border-radius: theme('borderRadius.s');

  --bq-breadcrumb-item--box-shadow: none;

  --bq-breadcrumb-item--paddingX: theme('spacing.xs2');
  --bq-breadcrumb-item--paddingY: theme('spacing.xs');

  --bq-breadcrumb-item--paddingX-separator: theme('spacing.xs2');
  --bq-breadcrumb-item--font-size: theme('spacing.xs');
}
