:root {
  --bq-box-shadow--xs: 0 2px 0 rgba(0, 0, 0, 0.016);
  --bq-box-shadow--s: 0 8px 24px rgba(0, 0, 0, 0.04);
  --bq-box-shadow--m: 0 10px 48px -16px rgba(0, 0, 0, 0.12);
  --bq-box-shadow--l: 0 20px 58px -16px rgba(0, 0, 0, 0.16);
}
