/* -------------------------------------------------------------------------- */
/*                           Extended Palette Color                           */
/* -------------------------------------------------------------------------- */

:root,
::backdrop {
  /** Blue */
  --bq-blue-100: #e8f0fd;
  --bq-blue-200: #d0e2fb;
  --bq-blue-300: #a2c5f7;
  --bq-blue-400: #73a8f3;
  --bq-blue-500: #458bef;
  --bq-blue-600: #166eeb;
  --bq-blue-700: #1258bc;
  --bq-blue-800: #0d428d;
  --bq-blue-900: #092c5e;
  --bq-blue-1000: #04162f;
  /** Corai */
  --bq-corai-100: #fff2f3;
  --bq-corai-200: #ffe6e6;
  --bq-corai-300: #ffccce;
  --bq-corai-400: #ffb3b5;
  --bq-corai-500: #ff999d;
  --bq-corai-600: #ff8084;
  --bq-corai-700: #cc666a;
  --bq-corai-800: #994d4f;
  --bq-corai-900: #663335;
  --bq-corai-1000: #331a1a;
  /** Cyan */
  --bq-cyan-100: #e8f7fb;
  --bq-cyan-200: #d2f0f8;
  --bq-cyan-300: #a5e1f1;
  --bq-cyan-400: #78d1e9;
  --bq-cyan-500: #4bc2e2;
  --bq-cyan-600: #1eb3db;
  --bq-cyan-700: #188faf;
  --bq-cyan-800: #126b83;
  --bq-cyan-900: #0c4858;
  --bq-cyan-1000: #06242c;
  /** Gold */
  --bq-gold-100: #fbf4ed;
  --bq-gold-200: #f7e9da;
  --bq-gold-300: #f0d3b6;
  --bq-gold-400: #e8bc91;
  --bq-gold-500: #e1a66d;
  --bq-gold-600: #d99048;
  --bq-gold-700: #ae733b;
  --bq-gold-800: #82562b;
  --bq-gold-900: #573a1d;
  --bq-gold-1000: #2b1d0e;
  /** Green */
  --bq-green-100: #e8f8ef;
  --bq-green-200: #d2f1e0;
  --bq-green-300: #a5e3c1;
  --bq-green-400: #78d5a1;
  --bq-green-500: #4bc782;
  --bq-green-600: #1eb963;
  --bq-green-700: #18944f;
  --bq-green-800: #126f3b;
  --bq-green-900: #0c4a28;
  --bq-green-1000: #062514;
  /** Grey */
  --bq-grey-50: #f8f8f9;
  --bq-grey-100: #f0f1f2;
  --bq-grey-200: #e1e3e6;
  --bq-grey-300: #c4c7cc;
  --bq-grey-400: #a6aab3;
  --bq-grey-500: #898e99;
  --bq-grey-600: #6b7280;
  --bq-grey-700: #565b66;
  --bq-grey-800: #40444d;
  --bq-grey-900: #2b2e33;
  /** Indigo */
  --bq-indigo-100: #edecfc;
  --bq-indigo-200: #dcdafa;
  --bq-indigo-300: #b9b5f5;
  --bq-indigo-400: #9590ef;
  --bq-indigo-500: #726bea;
  --bq-indigo-600: #4f46e5;
  --bq-indigo-700: #3f38b7;
  --bq-indigo-800: #2f2a89;
  --bq-indigo-900: #201c5c;
  --bq-indigo-1000: #100e2e;
  /** Lime */
  --bq-lime-100: #f5fae9;
  --bq-lime-200: #ecf6d2;
  --bq-lime-300: #d9eda5;
  --bq-lime-400: #c5e379;
  --bq-lime-500: #b2da4c;
  --bq-lime-600: #9fd120;
  --bq-lime-700: #7fa719;
  --bq-lime-800: #5f7d13;
  --bq-lime-900: #40540c;
  --bq-lime-1000: #202a06;
  /** Magenta */
  --bq-magenta-100: #f8ebf3;
  --bq-magenta-200: #f1d7e8;
  --bq-magenta-300: #e3afd1;
  --bq-magenta-400: #d687b9;
  --bq-magenta-500: #c85fa2;
  --bq-magenta-600: #ba378b;
  --bq-magenta-700: #952c6f;
  --bq-magenta-800: #702153;
  --bq-magenta-900: #4a1638;
  --bq-magenta-1000: #250b1c;
  /** Neutral */
  --bq-neutral-white: #fff;
  --bq-neutral-black: #000;
  /** Orange */
  --bq-orange-100: #fcf0e9;
  --bq-orange-200: #f8e1d4;
  --bq-orange-300: #f1c2a8;
  --bq-orange-400: #eaa47d;
  --bq-orange-500: #e38551;
  --bq-orange-600: #dc6726;
  --bq-orange-700: #b0521e;
  --bq-orange-800: #843e17;
  --bq-orange-900: #58290f;
  --bq-orange-1000: #2c1508;
  /** Purple */
  --bq-purple-100: #f0ebf9;
  --bq-purple-200: #e0d7f2;
  --bq-purple-300: #c1afe5;
  --bq-purple-400: #a388d8;
  --bq-purple-500: #8460cb;
  --bq-purple-600: #8460cb;
  --bq-purple-700: #512d98;
  --bq-purple-800: #3d2272;
  --bq-purple-900: #28164c;
  --bq-purple-1000: #140b26;
  /** Red */
  --bq-red-100: #fce8ea;
  --bq-red-200: #f9d1d5;
  --bq-red-300: #f3a2ac;
  --bq-red-400: #ed7482;
  --bq-red-500: #e74559;
  --bq-red-600: #e1172f;
  --bq-red-700: #b41226;
  --bq-red-800: #870e1c;
  --bq-red-900: #5a0913;
  --bq-red-1000: #2d0509;
  /** Sky */
  --bq-sky-100: #eff5fb;
  --bq-sky-200: #dfeaf8;
  --bq-sky-300: #bfd5f1;
  --bq-sky-400: #9ec1e9;
  --bq-sky-500: #7eace2;
  --bq-sky-600: #5e97db;
  --bq-sky-700: #4b79af;
  --bq-sky-800: #385b83;
  --bq-sky-900: #263c58;
  --bq-sky-1000: #131e2c;
  /** Teal */
  --bq-teal-100: #e5f8f5;
  --bq-teal-200: #e5f8f5;
  --bq-teal-300: #99e1d8;
  --bq-teal-400: #66d2c4;
  --bq-teal-500: #33c3b1;
  --bq-teal-600: #00b49d;
  --bq-teal-700: #00907e;
  --bq-teal-800: #006c5e;
  --bq-teal-900: #00483f;
  --bq-teal-1000: #00241f;
  /** Volcano */
  --bq-volcano-100: #feede8;
  --bq-volcano-200: #fddbd1;
  --bq-volcano-300: #fcb8a3;
  --bq-volcano-400: #fa9474;
  --bq-volcano-500: #f97146;
  --bq-volcano-600: #f97146;
  --bq-volcano-700: #c63e13;
  --bq-volcano-800: #942e0e;
  --bq-volcano-900: #631f0a;
  --bq-volcano-1000: #310f05;
  /** Yellow */
  --bq-yellow-100: #fefbe7;
  --bq-yellow-200: #fcf6d0;
  --bq-yellow-300: #faeea0;
  --bq-yellow-400: #f7e571;
  --bq-yellow-500: #f5dd41;
  --bq-yellow-600: #f2d412;
  --bq-yellow-700: #c2aa0e;
  --bq-yellow-800: #917f0b;
  --bq-yellow-900: #615507;
  --bq-yellow-1000: #302a04;
}
