:root {
  // font families
  --bq-font-family--inter: 'Inter', sans-serif;

  // font sizes
  --bq-font-size--xs: 12px;
  --bq-font-size--s: 14px;
  --bq-font-size--m: 16px;
  --bq-font-size--l: 20px;
  --bq-font-size--xl: 24px;
  --bq-font-size--xxl: 32px;
  --bq-font-size--xxl2: 40px;
  --bq-font-size--xxl3: 48px;
  --bq-font-size--xxl4: 56px;
  --bq-font-size--xxl5: 64px;

  // font weights
  --bq-font-weight--light: 300;
  --bq-font-weight--regular: 400;
  --bq-font-weight--medium: 500;
  --bq-font-weight--bold: 700;
  --bq-font-weight--extrabold: 800;

  // line heights
  --bq-font-line-height--regular: 1.2;
  --bq-font-line-height--large: 1.5;
}
