/* -------------------------------------------------------------------------- */
/*                              Dropdown Styles                               */
/* -------------------------------------------------------------------------- */

/* ---------------------------------- Host ---------------------------------- */

:host {
  position: relative;
  display: inline-block;
}

/* ------------------------------- Structure -------------------------------- */

.bq-dropdown__trigger {
  display: block;
}
