/* -------------------------------------------------------------------------- */
/*                                Dropdown styles                */
/* -------------------------------------------------------------------------- */

:host {
  position: relative;
  display: inline-block;
}

.bq-dropdown__trigger {
  display: block;
}
