/* -------------------------------------------------------------------------- */
/*                   Alert custom properties                  */
/* -------------------------------------------------------------------------- */

:host {
  /**
   * @prop --bq-alert--background: The alert background color
   * @prop --bq-alert--border-radius: The alert border radius
   * @prop --bq-alert--content-footer-gap: The alert content and footer gap
   * @prop --bq-alert--title-body-gap: The alert title and body gap

   * @prop --bq-alert--border-color: The alert border color
   * @prop --bq-alert--border-style: The alert border style
   * @prop --bq-alert--border-width: The alert border width

   * @prop --bq-alert--background-info: The alert background color for info type
   * @prop --bq-alert--background-success: The alert background color for success type
   * @prop --bq-alert--background-warning: The alert background color for warning type
   * @prop --bq-alert--background-error: The alert background color for error type

   * @prop --bq-alert--border-info: The alert border color for info type
   * @prop --bq-alert--border-success: The alert border color for success type
   * @prop --bq-alert--border-warning: The alert border color for warning type
   * @prop --bq-alert--border-error: The alert border color for error type

   * @prop --bq-alert--icon-color-info: The alert icon color for info type
   * @prop --bq-alert--icon-color-success: The alert icon color for success type
   * @prop --bq-alert--icon-color-warning: The alert icon color for warning type
   * @prop --bq-alert--icon-color-error: The alert icon color for error type

   * @prop --bq-alert--padding: The alert padding
   * @prop --bq-alert--min-width: The alert min width
   */

  --bq-alert--background: var(--bq-ui--secondary);

  --bq-alert--border-radius: var(--bq-radius--s);

  --bq-alert--content-footer-gap: var(--bq-spacing-s);
  --bq-alert--title-body-gap: var(--bq-spacing-s);

  --bq-alert--background-info: var(--bq-ui--brand-alt);
  --bq-alert--background-success: var(--bq-ui--success-alt);
  --bq-alert--background-warning: var(--bq-ui--warning-alt);
  --bq-alert--background-error: var(--bq-ui--danger-alt);
  --bq-alert--background-default: var(--bq-ui--primary);

  --bq-alert--border-info: var(--bq-stroke--brand);
  --bq-alert--border-success: var(--bq-stroke--success);
  --bq-alert--border-warning: var(--bq-stroke--warning);
  --bq-alert--border-error: var(--bq-stroke--danger);
  --bq-alert--border-default: var(--bq-stroke--secondary);
  --bq-alert--border-width: var(--bq-stroke-s);
  --bq-alert--border-style: solid;

  --bq-alert--icon-color-info: var(--bq-icon--brand);
  --bq-alert--icon-color-success: var(--bq-icon--success);
  --bq-alert--icon-color-warning: var(--bq-icon--warning);
  --bq-alert--icon-color-error: var(--bq-icon--danger);
  --bq-alert--icon-color-default: var(--bq-icon--primary);

  --bq-alert--padding: var(--bq-spacing-s);

  --bq-alert--min-width: 320px;
}
