/* -------------------------------------------------------------------------- */
/*                      Option group custom properties                       */
/* -------------------------------------------------------------------------- */

:host {
  /**
  * @prop --bq-option-group--background - option group background color
  * @prop --bq-option-group--font-size - option group font size
  * @prop --bq-option-group--line-height - option group line height
  * @prop --bq-option-group--label-padding-start - option group header padding start
  * @prop --bq-option-group--label-padding-end - option group header padding start
  * @prop --bq-option-group--label-paddingY - option group header padding Y axis
  * @prop --bq-option-group--label-text-padding-start - option group text within label padding start
  * @prop --bq-option-group--label-text-padding-end - option group text within label padding start
  * @prop --bq-option-group--container-padding-start - option group container padding start
  */
  --bq-option-group--background: var(--bq-ui--primary);
  --bq-option-group--font-size: var(--bq-font-size--s);
  --bq-option-group--line-height: var(--bq-font-line-height--regular);

  --bq-option-group--label-padding-start: var(--bq-spacing-s);
  --bq-option-group--label-padding-end: var(--bq-spacing-s);
  --bq-option-group--label-paddingY: var(--bq-spacing-xs);

  --bq-option-group--label-text-padding-start: var(--bq-spacing-s);
  --bq-option-group--label-text-padding-end: var(--bq-spacing-s);

  --bq-option-group--container-padding-start: var(--bq-spacing-xxl);
}
