/* -------------------------------------------------------------------------- */
/*                                Option styles                */
/* -------------------------------------------------------------------------- */

@import './bq-option.variables';

:host {
  @apply block;
}

:host([hidden]) {
  @apply hidden;
}

.bq-option {
  @apply flex min-is-0 flex-1 cursor-pointer items-center bg-transparent text-[length:--bq-option--font-size] text-inherit outline-none;
  @apply border-0 p-0 hover:bg-transparent;
}

.bq-option__label {
  @apply inline-block flex-auto overflow-hidden text-ellipsis text-start whitespace-nowrap;
  @apply pe-[--bq-option-label--padding-end] ps-[--bq-option-label--padding-start];
}

.bq-option__checkbox,
.bq-option__checkbox::part(base),
.bq-option__checkbox::part(label) {
  @apply is-full;
}

.bq-option__checkbox {
  @apply inline-flex;
}

.bq-option__checkbox::part(base) {
  @apply rounded-none bg-transparent p-0;
}

:host([selected]) .bq-option__checkbox::part(label) {
  @apply text-brand;
}

.bq-option__item {
  @apply flex cursor-pointer items-center rounded-[--bq-option--border-radius] bg-[--bq-option--background] shadow-[shadow:--bq-option--box-shadow];
  @apply border-[length:--bq-option--border-width] border-[color:--bq-option--border-color] transition-colors duration-150 ease-in-out;
  @apply pe-[--bq-option--padding-end] ps-[--bq-option--padding-start] p-b-[--bq-option--paddingY] hover:bg-hover-ui-secondary focus-within:focus;

  border-style: var(--bq-option--border-style);
}

:host(:focus) .bq-option__item {
  @apply focus;
}

:host(:focus) {
  outline: none;
}

:host([selected]) .bq-option__item {
  @apply bg-ui-brand-alt text-brand;
}

.bq-option__item > .bq-option,
.bq-option__item > .bq-option__checkbox {
  @apply flex-1 min-is-0;
}

:host([disabled]) .bq-option__item {
  @apply cursor-not-allowed opacity-60;
}

.bq-option__expand::part(button) {
  --bq-button--border-radius: var(--bq-radius--s);
  --bq-button--small-font-size: var(--bq-font-size--xs);

  @apply text-inherit enabled:hover:bg-transparent enabled:hover:text-brand;
}

.bq-option__selection-summary {
  @apply ms-s shrink-0 text-s text-secondary;
}

.bq-option__options {
  @apply m-bs-xs2 ms-[calc(var(--bq-option--padding-start)_*_2)] flex flex-col gap-y-xs2 ps-s;
}

:host([slot='options']) {
  position: relative;
}

:host([slot='options'])::before {
  content: '';
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: calc(-1 * var(--bq-option--padding-start));
  block-size: 50%;
  inline-size: var(--bq-option--padding-start);
  border-block-end: 1px solid var(--bq-stroke--primary);
  border-inline-start: 1px solid var(--bq-stroke--primary);
  margin-inline-start: -1px;
}

:host([slot='options']:not(:last-child))::after {
  content: '';
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: calc(-1 * var(--bq-option--padding-start));
  block-size: calc(50% + var(--bq-option-group--gapY-list));
  border-inline-start: 1px solid var(--bq-stroke--primary);
  margin-inline-start: -1px;
}
