/* -------------------------------------------------------------------------- */
/*                         Accordion custom properties                        */
/* -------------------------------------------------------------------------- */

:host {
  --bq-accordion--small-padding-y: theme('spacing.xs');
  --bq-accordion--small-padding-start: theme('spacing.s');
  --bq-accordion--small-padding-end: theme('spacing.s');
  --bq-accordion--small-gap: theme('spacing.xs');

  --bq-accordion--medium-padding-y: theme('spacing.s');
  --bq-accordion--medium-padding-start: theme('spacing.m');
  --bq-accordion--medium-padding-end: theme('spacing.m');
  --bq-accordion--medium-gap: theme('spacing.m');

  --bq-accordion--collapsed-border-color: theme('colors.transparent');
  --bq-accordion--collapsed-top-left-border-radius: theme('borderRadius.xs');
  --bq-accordion--collapsed-top-right-border-radius: theme('borderRadius.xs');
  --bq-accordion--collapsed-bottom-left-border-radius: theme('borderRadius.xs');
  --bq-accordion--collapsed-bottom-right-border-radius: theme('borderRadius.xs');
  --bq-accordion--collapsed-border-style: none;
  --bq-accordion--collapsed-border-width: unset;

  --bq-accordion--expanded-border-color: theme('colors.transparent');
  --bq-accordion--expanded-border-radius: theme('borderRadius.xs');
  --bq-accordion--expanded-top-left-border-radius: theme('borderRadius.xs');
  --bq-accordion--expanded-top-right-border-radius: theme('borderRadius.xs');
  --bq-accordion--expanded-bottom-left-border-radius: 0;
  --bq-accordion--expanded-bottom-right-border-radius: 0;
  --bq-accordion--expanded-border-style: none;
  --bq-accordion--expanded-border-width: unset;

  --bq-accordion--filled-collapsed-background: theme('colors.ui.primary-alt');
  --bq-accordion--filled-collapsed-hover: theme('colors.ui.secondary-hover');
  --bq-accordion--filled-collapsed-text-color: theme('colors.text.primary');
  --bq-accordion--filled-collapsed-disabled-text-color: theme('colors.text.primary-disabled');
  --bq-accordion--filled-expanded-background: theme('colors.ui.brand-alt');
  --bq-accordion--filled-expanded-collapsed-hover: theme('colors.ui.secondary-hover');
  --bq-accordion--filled-expanded-text-color: theme('colors.text.primary-active');
  --bq-accordion--filled-expanded-disabled-text-color: theme('colors.text.primary-disabled');

  --bq-accordion--ghost-collapsed-background: theme('colors.transparent');
  --bq-accordion--ghost-collapsed-hover: theme('colors.transparent');
  --bq-accordion--ghost-collapsed-text-color: theme('colors.text.primary');
  --bq-accordion--ghost-collapsed-disabled-text-color: theme('colors.text.primary-disabled');
  --bq-accordion--ghost-expanded-background: theme('colors.transparent');
  --bq-accordion--ghost-expanded-hover: theme('colors.transparent');
  --bq-accordion--ghost-expanded-text-color: theme('colors.text.brand');
  --bq-accordion--ghost-expanded-disabled-text-color: theme('colors.text.brand-disabled');

  --bq-accordion--panel-small-filled-padding-y: theme('spacing.s');
  --bq-accordion--panel-small-filled-padding-start: theme('spacing.s');
  --bq-accordion--panel-small-filled-padding-end: theme('spacing.s');
  --bq-accordion--panel-medium-filled-padding-y: theme('spacing.m');
  --bq-accordion--panel-medium-filled-padding-start: theme('spacing.m');
  --bq-accordion--panel-medium-filled-padding-end: theme('spacing.m');

  --bq-accordion--panel-small-ghost-padding-y: theme('spacing.s');
  --bq-accordion--panel-small-ghost-padding-start: theme('spacing.l');
  --bq-accordion--panel-small-ghost-padding-end: theme('spacing.l');
  --bq-accordion--panel-medium-ghost-padding-y: theme('spacing.m');
  --bq-accordion--panel-medium-ghost-padding-start: theme('spacing.xl');
  --bq-accordion--panel-medium-ghost-padding-end: theme('spacing.xl');
}
