/* -------------------------------------------------------------------------- */
/*                          Accordion custom properties           */
/* -------------------------------------------------------------------------- */

:host {
  --bq-accordion--small-padding-y: theme('spacing.xs');
  --bq-accordion--small-padding-start: theme('spacing.s');
  --bq-accordion--small-padding-end: theme('spacing.s');

  --bq-accordion--medium-padding-y: theme('spacing.s');
  --bq-accordion--medium-padding-start: theme('spacing.m');
  --bq-accordion--medium-padding-end: theme('spacing.m');
}
