/* -------------------------------------------------------------------------- */
/*                         Accordion custom properties                        */
/* -------------------------------------------------------------------------- */

:host {
  /**
   * @prop --bq-accordion--small-padding-y: Accordion small vertical padding
   * @prop --bq-accordion--small-padding-start: Accordion small start padding
   * @prop --bq-accordion--small-padding-end: Accordion small end padding
   * @prop --bq-accordion--small-padding-gap: Accordion small gap distance between suffix, title and prefix
   * @prop --bq-accordion--small-radius: Accordion small border radius
   *
   * @prop --bq-accordion--medium-padding-y: Accordion medium vertical padding
   * @prop --bq-accordion--medium-padding-start: Accordion medium start padding
   * @prop --bq-accordion--medium-padding-end: Accordion medium end padding
   * @prop --bq-accordion--medium-padding-gap: Accordion medium gap distance between suffix, title and prefix
   * @prop --bq-accordion--medium-radius: Accordion medium border radius
   *
   * @prop --bq-accordion--collapsed-border-color: Accordion collapsed border color
   * @prop --bq-accordion--collapsed-border-style: Accordion collapsed border style
   * @prop --bq-accordion--collapsed-border-width: Accordion collapsed border width
   *
   * @prop --bq-accordion--expanded-border-color: Accordion expanded border color
   * @prop --bq-accordion--expanded-border-style: Accordion expanded border style
   * @prop --bq-accordion--expanded-border-width: Accordion expanded border width
   *
   * @prop --bq-accordion--filled-collapsed-background: Accordion filled collapsed header background
   * @prop --bq-accordion--filled-collapsed-text-color: Accordion filled collapsed header text color
   * @prop --bq-accordion--filled-expanded-background: Accordion filled expanded header background
   * @prop --bq-accordion--filled-expanded-collapsed-hover: Accordion filled expanded header color on hover
   * @prop --bq-accordion--filled-expanded-text-color: Accordion filled expanded header text color
   *
   * @prop --bq-accordion--ghost-collapsed-background: Accordion ghost collapsed header background
   * @prop --bq-accordion--ghost-collapsed-text-color: Accordion ghost collapsed header text color
   * @prop --bq-accordion--ghost-expanded-background: Accordion ghost expanded header background
   * @prop --bq-accordion--ghost-expanded-collapsed-hover: Accordion ghost expanded header color on hover
   * @prop --bq-accordion--ghost-expanded-text-color: Accordion ghost expanded header text color
   *
   * @prop --bq-accordion--panel-filled-border-color: Accordion filled panel border color
   * @prop --bq-accordion--panel-filled-border-style: Accordion filled panel border style
   * @prop --bq-accordion--panel-filled-border-width: Accordion filled panel border width
   * @prop --bq-accordion--panel-small-filled-padding-y: Accordion small filled panel vertical padding
   * @prop --bq-accordion--panel-small-filled-padding-start: Accordion small filled panel start padding
   * @prop --bq-accordion--panel-small-filled-padding-end: Accordion small filled panel end padding
   * @prop --bq-accordion--panel-medium-filled-padding-y: Accordion medium filled panel vertical padding
   * @prop --bq-accordion--panel-medium-filled-padding-start: Accordion medium filled panel start padding
   * @prop --bq-accordion--panel-medium-filled-padding-end: Accordion medium filled panel end padding
   *
   * @prop --bq-accordion--panel-ghost-border-color: Accordion ghost panel border color
   * @prop --bq-accordion--panel-ghost-border-style: Accordion ghost panel border style
   * @prop --bq-accordion--panel-ghost-border-width: Accordion ghost panel border width
   * @prop --bq-accordion--panel-small-ghost-padding-y: Accordion small ghost panel vertical padding
   * @prop --bq-accordion--panel-small-ghost-padding-start: Accordion small ghost panel start padding
   * @prop --bq-accordion--panel-small-ghost-padding-end: Accordion small ghost panel end padding
   * @prop --bq-accordion--panel-medium-ghost-padding-y: Accordion medium ghost panel vertical padding
   * @prop --bq-accordion--panel-medium-ghost-padding-start: Accordion medium ghost panel start padding
   * @prop --bq-accordion--panel-medium-ghost-padding-end: Accordion medium ghost panel end padding
  */
  --bq-accordion--small-padding-y: theme(spacing.xs);
  --bq-accordion--small-padding-start: theme(spacing.s);
  --bq-accordion--small-padding-end: theme(spacing.s);
  --bq-accordion--small-gap: theme(spacing.xs);
  --bq-accordion--small-radius: theme(borderRadius.xs);

  --bq-accordion--medium-padding-y: theme(spacing.s);
  --bq-accordion--medium-padding-start: theme(spacing.m);
  --bq-accordion--medium-padding-end: theme(spacing.m);
  --bq-accordion--medium-gap: theme(spacing.m);
  --bq-accordion--medium-radius: theme(borderRadius.xs);

  --bq-accordion--collapsed-border-color: theme(borderColor.transparent);
  --bq-accordion--collapsed-border-style: none;
  --bq-accordion--collapsed-border-width: unset;

  --bq-accordion--expanded-border-color: theme(borderColor.transparent);
  --bq-accordion--expanded-border-style: none;
  --bq-accordion--expanded-border-width: unset;

  --bq-accordion--filled-collapsed-background: theme(backgroundColor.ui.secondary);
  --bq-accordion--filled-collapsed-text-color: theme(textColor.primary);
  --bq-accordion--filled-expanded-background: theme(backgroundColor.ui.brand-alt);
  --bq-accordion--filled-expanded-text-color: theme(textColor.primary);

  --bq-accordion--ghost-collapsed-background: theme(backgroundColor.transparent);
  --bq-accordion--ghost-collapsed-text-color: theme(textColor.primary);
  --bq-accordion--ghost-expanded-background: theme(backgroundColor.transparent);
  --bq-accordion--ghost-expanded-text-color: theme(textColor.brand);

  --bq-accordion--panel-filled-border-color: theme(borderColor.primary);
  --bq-accordion--panel-filled-border-style: solid;
  --bq-accordion--panel-filled-border-width: theme(borderWidth.s);
  --bq-accordion--panel-small-filled-padding-y: theme(spacing.s);
  --bq-accordion--panel-small-filled-padding-start: theme(spacing.s);
  --bq-accordion--panel-small-filled-padding-end: theme(spacing.s);
  --bq-accordion--panel-medium-filled-padding-y: theme(spacing.m);
  --bq-accordion--panel-medium-filled-padding-start: theme(spacing.m);
  --bq-accordion--panel-medium-filled-padding-end: theme(spacing.m);

  --bq-accordion--panel-ghost-border-color: theme(borderColor.transparent);
  --bq-accordion--panel-ghost-border-style: none;
  --bq-accordion--panel-ghost-border-width: unset;
  --bq-accordion--panel-small-ghost-padding-y: theme(spacing.s);
  --bq-accordion--panel-small-ghost-padding-start: theme(spacing.l);
  --bq-accordion--panel-small-ghost-padding-end: theme(spacing.l);
  --bq-accordion--panel-medium-ghost-padding-y: theme(spacing.m);
  --bq-accordion--panel-medium-ghost-padding-start: theme(spacing.xl);
  --bq-accordion--panel-medium-ghost-padding-end: theme(spacing.xl);
}
