/* -------------------------------------------------------------------------- */
/*              Custom normalize styles for Tailwind CSS (reset)              */
/* -------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Outfit:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Roboto:wght@100;300;400;500;700&display=swap');

/* stylelint-disable selector-no-qualifying-type */
@layer base {
  /* Box sizing rules */
  *,
  *::before,
  *::after {
    @apply box-border;
  }

  /* Remove default margin */
  * {
    @apply m-0 font-[inherit];
  }

  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
    @apply list-none;
  }

  /* Set core root defaults */
  html {
    @apply text-m;

    &:focus-within {
      @apply scroll-smooth;
    }
  }

  /* Set core body defaults */
  body {
    @apply min-h-screen bg-bg-primary font-default leading-regular text-text-primary antialiased;
    text-rendering: optimizeSpeed;
  }

  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }

  /* Make images easier to work with */
  img,
  picture,
  video,
  canvas,
  svg {
    @apply block max-w-full;
  }

  /* Inherit fonts */
  button,
  input,
  select,
  textarea {
    font: inherit;
  }

  /* Avoid text overflows */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply break-words;
  }

  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      @apply scroll-auto;
    }

    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}
