/* -------------------------------------------------------------------------- */
/*                   Tag custom properties                  */
/* -------------------------------------------------------------------------- */

:host {
  /**
   * @prop --bq-tag--background-color - Tag background color
   * @prop --bq-tag--border-color - Tag border color
   * @prop --bq-tag--border-radius - Tag border radius
   * @prop --bq-tag--border-style - Tag border style
   * @prop --bq-tag--border-width - Tag border width
   * @prop --bq-tag--small-border-radius - Tag small border radius
   * @prop --bq-tag--small-gap - Tag small gap between content
   * @prop --bq-tag--small-padding-x - Tag small padding horizontal
   * @prop --bq-tag--small-padding-y - Tag small padding vertical
   * @prop --bq-tag--medium-gap - Tag medium gap between content
   * @prop --bq-tag--medium-padding-x - Tag medium padding horizontal
   * @prop --bq-tag--medium-padding-y - Tag medium padding vertical
   */
  --bq-tag--background-color: theme(backgroundColor.ui.secondary);

  --bq-tag--border-color: theme(colors.transparent);
  --bq-tag--border-radius: theme(borderRadius.s);
  --bq-tag--border-style: solid;
  --bq-tag--border-width: theme(borderWidth.s);

  --bq-tag--small-border-radius: theme(borderRadius.xs);
  --bq-tag--small-gap: theme(spacing.xs2);
  --bq-tag--small-padding-x: calc(var(--bq-spacing-xs) - var(--bq-tag--border-width));
  --bq-tag--small-padding-y: calc(var(--bq-spacing-xs3) - var(--bq-tag--border-width));

  --bq-tag--medium-gap: theme(spacing.xs);
  --bq-tag--medium-padding-x: calc(var(--bq-spacing-s) - var(--bq-tag--border-width));
  --bq-tag--medium-padding-y: calc(var(--bq-spacing-xs2) - var(--bq-tag--border-width));
}
