@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(10px);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@mixin animation-fade-in($duration: 0.3s, $delay: 0s, $timing-function: ease) {
  animation: fade-in $duration $timing-function $delay;
}

@mixin animation-slide-in($duration: 0.3s, $delay: 0s, $timing-function: ease) {
  animation:
    fade-in $duration $timing-function $delay,
    slide-in $duration $timing-function $delay;
}

@mixin animation-spin($duration: 1s, $delay: 0s, $timing-function: linear) {
  animation: spin $duration $timing-function $delay infinite;
}
