/* -------------------------------------------------------------------------- */
/*                          Status custom properties                          */
/* -------------------------------------------------------------------------- */

:host {
  /**
   * @prop --bq-status-circ - Status circle size
   */
  --bq-status-circle--size: 12px;
}
