/* -------------------------------------------------------------------------- */
/*                          Checkbox custom properties                          */
/* -------------------------------------------------------------------------- */

:host {
  /**
   * @prop --bq-checkbox--size - Checkbox size
   * @prop --bq-checkbox--border-radius - Checkbox border radius
   * @prop --bq-checkbox--border-width - Checkbox border width
   */
  --bq-checkbox--size: 24px;
  --bq-checkbox--border-radius: theme(borderRadius.xs);
  --bq-checkbox--border-width: theme(borderWidth.m);
}
