/* -------------------------------------------------------------------------- */
/*                      Breadcrumb item custom properties                     */
/* -------------------------------------------------------------------------- */

:host {
  /**
  * @prop --bq-breadcrumb-item--background: Background color of the breadcrumb item.
  * @prop --bq-breadcrumb-item--box-shadow: Box shadow of the breadcrumb item.
  * @prop --bq-breadcrumb-item--border-color: Border color of the breadcrumb item.
  * @prop --bq-breadcrumb-item--border-style: Border style of the breadcrumb item.
  * @prop --bq-breadcrumb-item--border-width: Border width of the breadcrumb item.
  * @prop --bq-breadcrumb-item--border-radius: Border radius of the breadcrumb item.
  * @prop --bq-breadcrumb-item--line-height: Line height of the breadcrumb item.
  * @prop --bq-breadcrumb-item--text-color: Text color of the breadcrumb item.
  * @prop --bq-breadcrumb-item--text-color-current: Text color of the current breadcrumb item.
  * @prop --bq-breadcrumb-item--text-size: Text size of the breadcrumb item.
  * @prop --bq-breadcrumb-item--text-size-separator: Text size of the breadcrumb item separator.
  * @prop --bq-breadcrumb-item--padding-start: Padding start of the breadcrumb item.
  * @prop --bq-breadcrumb-item--padding-end: Padding end of the breadcrumb item.
  * @prop --bq-breadcrumb-item--paddingY: Padding top and bottom of the breadcrumb item.
  * @prop --bq-breadcrumb-item--padding-start-separator: Padding start of the breadcrumb item separator.
  * @prop --bq-breadcrumb-item--padding-end-separator: Padding end of the breadcrumb item separator.
  */

  --bq-breadcrumb-item--background: transparent;
  --bq-breadcrumb-item--box-shadow: none;

  --bq-breadcrumb-item--border-color: transparent;
  --bq-breadcrumb-item--border-style: none;
  --bq-breadcrumb-item--border-width: var(--bq-stroke-s);
  --bq-breadcrumb-item--border-radius: var(--bq-radius--s);

  --bq-breadcrumb-item--line-height: var(--bq-font-line-height--regular);
  --bq-breadcrumb-item--text-color: var(--bq-text--secondary);
  --bq-breadcrumb-item--text-color-current: var(--bq-text--brand);
  --bq-breadcrumb-item--text-size: var(--bq-font-size--s);
  --bq-breadcrumb-item--text-size-separator: var(--bq-font-size--xs);

  --bq-breadcrumb-item--padding-start: var(--bq-spacing-xs2);
  --bq-breadcrumb-item--padding-end: var(--bq-spacing-xs2);
  --bq-breadcrumb-item--paddingY: var(--bq-spacing-xs);

  --bq-breadcrumb-item--padding-start-separator: var(--bq-spacing-xs2);
  --bq-breadcrumb-item--padding-end-separator: var(--bq-spacing-xs2);
}
