/* -------------------------------------------------------------------------- */
/*                            Breadcrumb item styles                          */
/* -------------------------------------------------------------------------- */

@use 'sass:meta';
@layer bq.reset, bq.tokens, bq.themes, bq.base, bq.public, bq.overrides,
  bq-breadcrumb-item.tokens, bq-breadcrumb-item.base, bq-breadcrumb-item.states;

@layer bq-breadcrumb-item.tokens {
  @include meta.load-css('./bq-breadcrumb-item.variables');
}

@layer bq-breadcrumb-item.base {
  /* ---------------------------------- Host ---------------------------------- */

  :host {
    display: inline-block;
  }

  /* ---------------------------------- Base ---------------------------------- */

  .bq-breadcrumb-item {
    display: flex;
    align-items: center;
  }

  .bq-breadcrumb-item__control {
    padding-block: var(--bq-breadcrumb-item--paddingY);
    padding-inline: var(--bq-breadcrumb-item--padding-start) var(--bq-breadcrumb-item--padding-end);
    color: var(--bq-breadcrumb-item--text-color);
    font-weight: var(--bq-font-weight--regular);
    font-size: var(--bq-breadcrumb-item--text-size);
    line-height: var(--bq-breadcrumb-item--line-height);
    text-decoration: none;
    background-color: var(--bq-breadcrumb-item--background);
    border-color: var(--bq-breadcrumb-item--border-color);
    border-style: var(--bq-breadcrumb-item--border-style);
    border-width: var(--bq-breadcrumb-item--border-width);
    border-radius: var(--bq-breadcrumb-item--border-radius);
    box-shadow: var(--bq-breadcrumb-item--box-shadow);
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
    transition-property: color;
  }

  /* ------------------------------- Structure -------------------------------- */

  .bq-breadcrumb-item__content {
    display: flex;
    align-items: center;
    gap: var(--bq-spacing-xs2);
  }

  .bq-breadcrumb-item__separator {
    display: flex;
    align-items: center;
    padding-inline: var(--bq-breadcrumb-item--padding-start-separator)
      var(--bq-breadcrumb-item--padding-end-separator);
    font-size: var(--bq-breadcrumb-item--text-size-separator);
  }
}

@layer bq-breadcrumb-item.states {
  /* --------------------------------- States --------------------------------- */

  :host([aria-current='page']) .bq-breadcrumb-item__control {
    color: var(--bq-breadcrumb-item--text-color-current);
  }

  .bq-breadcrumb-item__control:hover {
    @include bq-color-mix(color, var(--bq-text--brand), hover);
  }

  .bq-breadcrumb-item__control:focus-visible {
    @include bq-focus-ring;
  }

  .bq-breadcrumb-item__control:active {
    outline: none;
  }
}
