/* -------------------------------------------------------------------------- */
/*                          Breadcrumb item custom properties           */
/* -------------------------------------------------------------------------- */

:host {
  /**
  * @prop --bq-breadcrumb-item--background: Background color of the breadcrumb item.
  * @prop --bq-breadcrumb-item--box-shadow: Box shadow of the breadcrumb item.
  * @prop --bq-breadcrumb-item--border-color: Border color of the breadcrumb item.
  * @prop --bq-breadcrumb-item--border-style: Border style of the breadcrumb item.
  * @prop --bq-breadcrumb-item--border-width: Border width of the breadcrumb item.
  * @prop --bq-breadcrumb-item--border-radius: Border radius of the breadcrumb item.
  * @prop --bq-breadcrumb-item--line-height: Line height of the breadcrumb item.
  * @prop --bq-breadcrumb-item--text-color: Text color of the breadcrumb item.
  * @prop --bq-breadcrumb-item--text-size: Text size of the breadcrumb item.
  * @prop --bq-breadcrumb-item--text-size-separator: Text size of the breadcrumb item separator.
  * @prop --bq-breadcrumb-item--padding-start: Padding start of the breadcrumb item.
  * @prop --bq-breadcrumb-item--padding-end: Padding end of the breadcrumb item.
  * @prop --bq-breadcrumb-item--paddingY: Padding top and bottom of the breadcrumb item.
  * @prop --bq-breadcrumb-item--padding-start-separator: Padding start of the breadcrumb item separator.
  * @prop --bq-breadcrumb-item--padding-end-separator: Padding end of the breadcrumb item separator.
  */

  --bq-breadcrumb-item--background: theme(backgroundColor.transparent);
  --bq-breadcrumb-item--box-shadow: none;

  --bq-breadcrumb-item--border-color: theme(borderColor.transparent);
  --bq-breadcrumb-item--border-style: none;
  --bq-breadcrumb-item--border-width: theme(borderWidth.s);
  --bq-breadcrumb-item--border-radius: theme(borderRadius.s);

  --bq-breadcrumb-item--line-height: theme(lineHeight.regular);
  --bq-breadcrumb-item--text-color: theme(textColor.secondary);
  --bq-breadcrumb-item--text-size: theme(fontSize.s);
  --bq-breadcrumb-item--text-size-separator: theme(fontSize.xs);

  --bq-breadcrumb-item--padding-start: theme(spacing.xs2);
  --bq-breadcrumb-item--padding-end: theme(spacing.xs2);
  --bq-breadcrumb-item--paddingY: theme(spacing.xs);

  --bq-breadcrumb-item--padding-start-separator: theme(spacing.xs2);
  --bq-breadcrumb-item--padding-end-separator: theme(spacing.xs2);
}
