/* -------------------------------------------------------------------------- */
/*                          Notification custom properties           */
/* -------------------------------------------------------------------------- */

:host {
  --bq-notification--border-radius: theme('borderRadius.s');
  --bq-notification--padding: theme('padding.m');
  --bq-notification--min-width: 320px;
}
