/* -------------------------------------------------------------------------- */
/*                                Switch styles                */
/* -------------------------------------------------------------------------- */

@import './bq-switch.variables';

:host {
  @apply inline-block;

  writing-mode: tb;
}

:host(.full-width) {
  @apply is-full;
}

.bq-switch {
  @apply flex cursor-pointer select-none items-center rounded-s transition-colors duration-300 p-b-2 p-i-2;

  justify-content: var(--bq-switch--justify-content);

  // Display background on hover (if enabled)
  &.has-background:not(.is-disabled):hover {
    @apply bg-hover-ui-primary;
  }

  &.is-disabled {
    @apply cursor-not-allowed opacity-60;
  }
}

.bq-switch--input:not(:disabled):focus-visible {
  ~ .bq-switch--control {
    @apply focus;
  }
}

.bq-switch--input:checked {
  ~ .bq-switch--control {
    @apply bg-ui-brand;

    .bq-switch--control__dot {
      @apply translate-x-[calc(var(--bq-switch--width)_-_var(--bq-switch--dot-size)_-_8px)];
    }
  }
}

.bq-switch--control__dot {
  @apply absolute justify-end rounded-full bs-[--bq-switch--dot-size] is-[--bq-switch--dot-size];
  @apply bg-icon-inverse group-[&.is-checked]:bg-[--bq-icon--alt];
  @apply transition duration-300;
}

.bq-switch--control__icon {
  --bq-icon--size: var(--bq-switch--dot-size) !important;

  &::part(base) {
    @apply flex;
  }
}

.bq-switch--label {
  @apply text-m font-medium leading-regular text-text-primary transition-colors duration-300;
}
