/* -------------------------------------------------------------------------- */
/*                          Switch custom properties           */
/* -------------------------------------------------------------------------- */

:host {
  /**
   * @prop --bq-switch--height - Switch height
   * @prop --bq-switch--justify-content - Switch justify content
   * @prop --bq-switch--width - Switch width
   * @prop --bq-switch--dot-size - Switch dot size
   */
  --bq-switch--height: 24px;
  --bq-switch--justify-content: 'start';
  --bq-switch--width: 44px;
  --bq-switch--dot-size: calc(var(--bq-switch--height) - (theme(spacing.xs2) * 2));
}
