/* -------------------------------------------------------------------------- */
/*                          Option group custom properties           */
/* -------------------------------------------------------------------------- */

:host {
  --bq-option-group--label-paddingX: theme('spacing.s');
  --bq-option-group--label-paddingY: theme('spacing.xs');
  --bq-option-group--label-text-paddingX: theme('spacing.s');
}
