/* -------------------------------------------------------------------------- */
/*                              Radio group styles                             */
/* -------------------------------------------------------------------------- */

/* ---------------------------------- Host ---------------------------------- */

:host {
  display: inline-block;
}

/* ---------------------------------- Base ---------------------------------- */

.bq-radio-group {
  margin-block: 0;
  margin-inline: 0;
}

/* ------------------------------- Structure -------------------------------- */

.bq-radio-group__group {
  display: flex;
  flex-direction: column;
}

/* -------------------------------- Variants -------------------------------- */

:host(:not([fieldset])) .bq-radio-group {
  padding-block: 0;
  padding-inline: 0;
  border: 0;
}

:host([orientation='horizontal']) .bq-radio-group__group {
  flex-direction: row;
}
