/* -------------------------------------------------------------------------- */
/*                        Card styles                        */
/* -------------------------------------------------------------------------- */

@import './bq-card.variables';

:host {
  display: block;
}

.bq-card {
  background-color: var(--bq-card--background);
  border-color: var(--bq-card--borderColor);
  border-radius: var(--bq-card--borderRadius);
  border-style: var(--bq-card--borderStyle);
  border-width: var(--bq-card--borderWidth);
  padding-block: var(--bq-card--padding);
  padding-inline: var(--bq-card--padding);
}

/* --------------------------------- Variant -------------------------------- */

:host([type='minimal']) .bq-card {
  padding-block: 0;
  padding-inline: 0;
}
