/* -------------------------------------------------------------------------- */
/*                   Card custom properties                  */
/* -------------------------------------------------------------------------- */

:host {
  /**
   * @prop --bq-card--border-color - Card border color
   * @prop --bq-card--border-radius - Card border radius
   * @prop --bq-card--border-style - Card border style
   * @prop --bq-card--border-width - Card border width
   
   * @prop --bq-card--padding - Card padding
   * @prop --bq-card--background - Card background color
   */

  --bq-card--border-color: theme('colors.transparent');
  --bq-card--border-radius: theme('borderRadius.m');
  --bq-card--border-style: solid;
  --bq-card--border-width: theme('borderWidth.0');

  --bq-card--padding: theme('spacing.l');
  --bq-card--background: theme('colors.bg.secondary');
}
