/* -------------------------------------------------------------------------- */
/*                          Side menu custom properties           */
/* -------------------------------------------------------------------------- */

:host {
  /**
   * @prop --bq-side-menu--bg-color: Side menu background color
   * @prop --bq-side-menu--brand-color: Side menu logo color
   * @prop --bq-side-menu--border-color: Side menu border color
   */
  --bq-side-menu--bg-color: theme(colors.ui.primary);
  --bq-side-menu--brand-color: theme(colors.ui.brand);
  --bq-side-menu--border-color: var(--bq-neutral-100);
  /**
   * ⚠️ There are two CSS properties been added to the global (:root) scope
   * `--bq-side-menu--width` and `--bq-side-menu--width--collapse`
   * @see: packages/beeq/src/global/styles/_components.scss
   */
}
