/* -------------------------------------------------------------------------- */
/*                               Divider Styles                               */
/* -------------------------------------------------------------------------- */

@import './bq-divider.variables';

:host {
  display: inline-flex;
}

:host([orientation='horizontal']) {
  inline-size: 100%;
}

:host([orientation='vertical']) {
  display: flex;
  block-size: 100%;
}

/* ---------------------------------- Base ---------------------------------- */

.bq-divider {
  display: flex;
  align-items: center;
  gap: var(--bq-divider--title-marginX);
}

/* ------------------------------- Orientation ------------------------------ */

.bq-divider--horizontal {
  flex-grow: 1;
}

.bq-divider--vertical {
  flex-direction: column;
  block-size: 100%;
}

/* ------------------------------- Stroke ----------------------------------- */

.bq-divider--stroke {
  flex-grow: 1;
  stroke: var(--bq-divider--color);
  block-size: var(--bq-divider--stroke-thickness);
  inline-size: 100%;

  &.is-end {
    transform: rotate(180deg);
  }
}

.bq-divider--vertical .bq-divider--stroke {
  inline-size: var(--bq-divider--stroke-thickness);
}

/* --------------------------------- States --------------------------------- */

.bq-divider.is-gapless {
  gap: 0;
}

.bq-divider--stroke.is-hidden {
  display: none;
}

/* ----------------------------- Title Alignment ---------------------------- */

.bq-divider--title__start .bq-divider--stroke.is-start,
.bq-divider--title__end .bq-divider--stroke.is-end {
  flex-grow: 0;
  flex-basis: var(--bq-divider--stroke-basis);
}
