/* -------------------------------------------------------------------------- */
/*                                 Icon styles                                */
/* -------------------------------------------------------------------------- */

@import './bq-icon.variables';

:host {
  display: inline-block;
}

.bq-icon {
  display: flex;
  color: var(--bq-icon--color);
  block-size: var(--bq-icon--size);
  inline-size: var(--bq-icon--size);
}

/**
 * This class is added on packages/beeq/src/components/icon/helper/request.ts
 * See lines 42 and 58 for details.
 */
.bq-icon__svg {
  transform: scaleX(var(--bq-icon--direction));
}
